Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Use typed useNavigate with from: '/' for search param type safety
  frontend/src/routes/components/filters/DateRangeFilter.tsx
  frontend/src/routes/components/filters/FilterTrigger.tsx
  frontend/src/routes/components/filters/useFilterEditor.ts
Due: eslint, prettier, knip

Fix Tailwind class order in read-only filter tags
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

Add hover effect to DateTrigger tag for consistency
  frontend/src/routes/components/filters/DateRangeFilter.tsx
Due: eslint, prettier, knip

Remove Any placeholder buttons from tab flow
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

Filter out bot users from user list endpoint
  src/firetower/auth/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add date range picker, style range middle days, auto-open filters when active
  frontend/src/components/Calendar.tsx
  frontend/src/components/DateRangePicker.tsx
  frontend/src/routes/components/filters/DateRangeFilter.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Fix tests for auto-open filters and date range picker
  frontend/src/components/DateRangePicker.tsx
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

feat: Add advanced filters panel to incident list (#126)
  frontend/src/components/Calendar.tsx
  frontend/src/components/DateRangePicker.tsx
  frontend/src/components/Tag.test.tsx
  frontend/src/components/Tag.tsx
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/components/filters/DateRangeFilter.tsx
  frontend/src/routes/components/filters/FilterTrigger.tsx
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
  frontend/src/routes/components/filters/useFilterEditor.ts
  frontend/src/routes/components/useActiveFilters.ts
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/usersQueryOptions.ts
  frontend/src/routes/types.ts
  src/firetower/auth/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix date parsing when linked from availability page
  frontend/src/routes/components/filters/DateRangeFilter.tsx
Due: eslint, prettier, knip

fix: Date parsing broken with full timestamp from availability page (#151)
  frontend/src/routes/components/filters/DateRangeFilter.tsx
Due: eslint, prettier, knip

fix: Scroll as tags in list are focused by arrows (#108)
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

ref: Remove tabIndex from captain/participants dropdown (#109)
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Add navigation tabs to Header for top-level views
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

Extract isActivePage helper and fix root trailing-slash check
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

Center logo in header with absolute positioning
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

Add nav tab tests and fix test type errors
  frontend/src/routes/components/Header.test.tsx
Due: eslint, prettier, knip

feat: Add navigation tabs to header (#152)
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

feat(slack): Implement /ft dumpslack Notion postmortem integration
  config.example.toml
  pyproject.toml
  src/firetower/config.py
  src/firetower/integrations/services/__init__.py
  src/firetower/integrations/services/notion.py
  src/firetower/settings.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Fix ruff lint violations in Notion integration
  src/firetower/integrations/services/notion.py
  src/firetower/slack_app/handlers/dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

perf(slack): Speed up Notion postmortem page creation
  src/firetower/integrations/services/notion.py
  src/firetower/slack_app/handlers/dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Address review feedback on Notion integration
  src/firetower/integrations/services/notion.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Batch-fetch Slack users and add NotionService unit tests
  src/firetower/integrations/tests/__init__.py
  src/firetower/integrations/tests/test_notion.py
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Cast notion-client responses to resolve mypy union-attr errors
  src/firetower/integrations/services/notion.py
Due: pyupgrade, mypy, check-mypy-bypass

Add PagerDuty config with escalation policies
  config.ci.toml
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add PagerDuty service client
  src/firetower/integrations/services/__init__.py
  src/firetower/integrations/services/pagerduty.py
Due: pyupgrade, mypy, check-mypy-bypass

Move integration tests into tests/ subdirectory and add PagerDuty tests
  src/firetower/integrations/tests/__init__.py
  src/firetower/integrations/tests/test_jira.py
  src/firetower/integrations/tests/test_pagerduty.py
  src/firetower/integrations/tests/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Wire PagerDuty IMOC paging into incident hooks for P0/P1 incidents
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename IMOC references to HIGH_SEV in PagerDuty integration
  config.example.toml
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/integrations/tests/test_pagerduty.py
Due: pyupgrade, mypy, check-mypy-bypass

Move paging decision logic from PagerDutyService into hooks
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/integrations/services/pagerduty.py
  src/firetower/integrations/tests/test_pagerduty.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename test to accurately describe what it verifies
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Move PagerDuty paging before Slack operations so it runs even if Slack fails
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Don't skip non-Slack operations when Slack channel creation fails in on_incident_created
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack and firetower links to page
  src/firetower/incidents/hooks.py
  src/firetower/integrations/services/pagerduty.py
Due: pyupgrade, mypy, check-mypy-bypass

Refactor hooks
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix on_severity_changed early return blocking PD paging
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix test_pages_for_p0 assertion to include links kwarg
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix test_pages_for_p0 to use explicit FIRETOWER_BASE_URL
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Re-add outer try/except safety net around on_incident_created
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert "Re-add outer try/except safety net around on_incident_created"
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Wrap get_or_create ExternalLink in try/except instead of wrapping entire function
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass
