Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Fix IncidentSummary tests to include QueryClientProvider
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
Due: eslint, prettier, knip

Fix vertical layout shift when spinner appears
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Fix layout shift in EditablePill by reducing spinner size and adding min-width
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Overlay spinner on invisible text to prevent layout shift
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Add keyboard navigation support to EditablePill
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Fix Tailwind classname ordering in IncidentSummary
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Remove editable prop and use native button element
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Make button rounded to match pill shape for shadow
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Refactor mutations to use mutationOptions pattern
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentMutations.ts
Due: eslint, prettier, knip

Rename incidentMutations.ts to updateIncidentFieldMutationOptions.ts
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Remove old incidentMutations.ts file
  frontend/src/routes/$incidentId/queries/incidentMutations.ts
Due: eslint, prettier, knip

Extract severity and status constants to single source of truth
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

fix mock
  src/firetower/test_health.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix prettier formatting in EditablePill and IncidentSummary
  frontend/src/components/EditablePill.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

fix sh
  docker/backend.Dockerfile
Due: none

remove whitespace
  docker/backend.Dockerfile
Due: none

chore(granian): bump to 2.6, tune config
  docker/backend.Dockerfile
  nginx.conf
  pyproject.toml
  uv.lock
Due: none

feat: Add editable severity and status pills (#54)
  frontend/bun.lock
  frontend/src/api.ts
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Exempt Service API endpoints from CSRF checks
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert "Exempt Service API endpoints from CSRF checks"
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add shadow on hover to kebab button
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Extract ConfirmationDialog to global components
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Fix vertical alignment of incident ID label
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Wire up visibility toggle in overflow menu
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Add visibility overflow menu component
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Add tests for ConfirmationDialog and OverflowMenu
  frontend/src/components/ConfirmationDialog.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
Due: eslint, prettier, knip

Add cursor-pointer to buttons
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Update visibility menu copy
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Add confirmation dialog for visibility toggle
  frontend/src/routes/$incidentId/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Use purple accent color for confirm button
  frontend/src/components/ConfirmationDialog.tsx
Due: eslint, prettier, knip

Convert ConfirmationDialog to function declaration
  frontend/src/components/ConfirmationDialog.tsx
Due: eslint, prettier, knip

Extend updateIncidentField mutation to support is_private
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Use EditableTextField for incident title
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Fix margin below title
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Use EditableTextField for incident description
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Use EditableTextField for incident impact
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Add visible focus ring to save button
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Use native focus ring for pencil button
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Consolidate field change handlers
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Add API endpoint to list tags by type
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

