Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Revert "Fix Avenir font vertical alignment globally with ascent-override"
  frontend/src/styles/index.css
Due: prettier

Switch to Rubik font per design tokens
  frontend/index.html
  frontend/src/styles/index.css
Due: prettier

Use self-hosted Rubik font with corrected vertical metrics
  frontend/index.html
  frontend/public/fonts/rubik-medium.woff
  frontend/public/fonts/rubik-medium.woff2
  frontend/public/fonts/rubik-regular.woff
  frontend/public/fonts/rubik-regular.woff2
  frontend/src/styles/index.css
Due: prettier

Remove manual vertical alignment fixes now that font metrics are correct
  frontend/src/components/Avatar.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Add flex centering to Pill component
  frontend/src/components/Pill.tsx
Due: eslint, prettier, knip

feat: Add visibility toggle overflow menu (#55)
  frontend/public/fonts/rubik-medium.woff
  frontend/public/fonts/rubik-medium.woff2
  frontend/public/fonts/rubik-regular.woff
  frontend/public/fonts/rubik-regular.woff2
  frontend/src/components/ConfirmationDialog.test.tsx
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Add EditableTags component for editing affected areas and root causes
  frontend/src/components/EditableTags.tsx
  frontend/src/components/Tag.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Add API endpoint to create tags
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add affected_areas and root_causes to incident PATCH endpoint
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Return affected_areas and root_causes in POST/PATCH responses
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Simplify tag fields to use ListField directly
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Optimize tag properties to use prefetch cache
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename affected_areas/root_causes to affected_area_tags/root_cause_tags
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Rename model properties to affected_area_tag_names/root_cause_tag_names
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Optimize tag validation to single query
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Extract _validate_tags_exist helper
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Update frontend to use affected_area_tags/root_cause_tags
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
Due: eslint, prettier, knip

Fix case-insensitive tag lookup in incident update
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add API endpoint to create tags (#62)
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

add api/app key lookups
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add Codecov integration for backend and frontend coverage
  .github/workflows/ci.yml
  codecov.yml
  pyproject.toml
  uv.lock
Due: none

Use CODECOV_ORG_TOKEN from org secrets
  .github/workflows/ci.yml
Due: none

Make coverage checks informational only
  codecov.yml
Due: none

Use tags API endpoint for EditableTags suggestions
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Save on Enter when input is empty in EditableTags
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Fix response schema for tag creation and add background refetch
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Save affected_areas and root_causes via incident mutation
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Prevent creating tags that already exist case-insensitively
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Show error state in EditableTags when tag creation fails
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Optimistically update tags list on create
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Fix Tag test to match span element
  frontend/src/components/Tag.test.tsx
Due: eslint, prettier, knip

Add onCreate callback to EditableTags for creating new tags
  frontend/src/components/EditableTags.tsx
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Use correct field names for tag updates (affected_area_tags, root_cause_tags)
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Add emptyText prop to EditableTextField for empty state display
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Simplify EditableTags component
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

ci: Add Codecov integration (#63)
  .github/workflows/ci.yml
  codecov.yml
  pyproject.toml
  uv.lock
Due: none

try debian as our base instead of alpine
  docker/backend.Dockerfile
Due: none

move python image to debian
  docker/backend.Dockerfile
Due: none

more random bumps
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

