Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Add firetower.getsentry.net to ALLOWED_HOSTS
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename IncidentStatus type
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Tweak test selectors
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

feat: Incident list filters (#13)
  frontend/bun.lock
  frontend/package.json
  frontend/src/api.ts
  frontend/src/components/Spinner.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/incidents/views.py
  src/firetower/integrations/services/jira.py
  src/firetower/integrations/test_jira.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Implement incident details summary card
  frontend/src/components/Card.tsx
  frontend/src/routes/$incidentId.tsx
Due: eslint, prettier, knip

Reorganize routes
  frontend/src/routeTree.gen.ts
  frontend/src/routes/$incidentId.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
Due: eslint, prettier, knip

Add import aliases for components and ui
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.tsx
  frontend/src/components/Spinner.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.tsx
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Due: eslint, prettier, knip

Fix import
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Due: eslint, prettier, knip

Fix import aliases
  frontend/tsconfig.json
Due: prettier

feat: Create incident details summary card (#15)
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.tsx
  frontend/src/components/Spinner.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/$incidentId.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: eslint, prettier, knip

[ci] deploy to cloud run step
  cloudbuild.yaml
Due: none

[ci] push docker image to repo
  cloudbuild.yaml
Due: none

[docker] use $PORT for Cloud Run
  Dockerfile
Due: none

[docker] remove debugging line
  Dockerfile
Due: none

[docker] fixes for deploy, prod-like docker compose
  Dockerfile
  docker-compose.yml
  frontend/env.ts
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

django debug only for dev env
  Dockerfile
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

django read SECRET_KEY from environment
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack integration with url building capability
  pyproject.toml
  src/firetower/incidents/transformers.py
  src/firetower/integrations/services/__init__.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

add sentry to backend
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

add sentry to frontend
  frontend/bun.lock
  frontend/package.json
  frontend/src/main.tsx
Due: eslint, prettier, knip

Add SlackLink
  frontend/index.html
  frontend/public/slack-icon.svg
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/SlackLink.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Fix ruff error
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix isort error
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Make slack link text darker
  frontend/src/routes/$incidentId/components/SlackLink.tsx
Due: eslint, prettier, knip

feat: SlackLink (#19)
  frontend/index.html
  frontend/public/slack-icon.svg
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/SlackLink.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles/index.css
  pyproject.toml
  src/firetower/incidents/transformers.py
  src/firetower/integrations/services/__init__.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

django: allow test environment url
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

restrict workflow permissions
  .github/workflows/deploy.yml
Due: none

[ci] move cloudbuild to GitHub Actions
  .github/workflows/deploy.yml
  cloudbuild.yaml
Due: none

[ci] deploy: add proper auth
  .github/workflows/deploy.yml
Due: none

DO NOT MERGE run on PR
  .github/workflows/deploy.yml
Due: none

test branch? DO NOT MERGE
  .github/workflows/deploy.yml
Due: none

fix env var
  .github/workflows/deploy.yml
Due: none

fix for github token permissions
  .github/workflows/deploy.yml
Due: none

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

