Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


feat: Add initial superusers by email address (#36)
  src/firetower/auth/apps.py
  src/firetower/auth/startup.py
Due: pyupgrade, mypy, check-mypy-bypass

build django static files
  Dockerfile
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add logging to startup superuser script
  src/firetower/auth/startup.py
Due: pyupgrade, mypy, check-mypy-bypass

build django static files (#37)
  Dockerfile
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: environment selector should override branch name detection (#33)
  .github/workflows/deploy.yml
Due: none

Remove startup superuser script
  src/firetower/auth/apps.py
  src/firetower/auth/startup.py
Due: pyupgrade, mypy, check-mypy-bypass

Add external links list component and fix pill ordering
  frontend/public/datadog.svg
  frontend/public/jira.svg
  frontend/public/linear.svg
  frontend/public/notion.svg
  frontend/public/pagerduty.svg
  frontend/public/statuspage.svg
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/LinksList.tsx
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

feat: Add external links list component (#34)
  frontend/public/datadog.svg
  frontend/public/jira.svg
  frontend/public/linear.svg
  frontend/public/notion.svg
  frontend/public/pagerduty.svg
  frontend/public/statuspage.svg
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/LinksList.tsx
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

chore: Remove superuser startup script (#38)
  src/firetower/auth/apps.py
  src/firetower/auth/startup.py
Due: pyupgrade, mypy, check-mypy-bypass

Add current user view
  src/firetower/auth/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add user avatar to header
  frontend/src/components/Avatar.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/queries/currentUserQueryOptions.ts
  src/firetower/auth/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Tweak suspense boundary
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

Fix tests
  frontend/src/routes/components/Header.test.tsx
  src/firetower/auth/tests/test_views.py
  src/firetower/auth/urls.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Refactor api URL imports
  src/firetower/auth/urls.py
  src/firetower/incidents/urls.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix tests again
  frontend/src/routes/components/Header.test.tsx
  src/firetower/auth/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix tests again again
  frontend/src/components/Avatar.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

Override string representation for User model in django admin
  src/firetower/auth/admin.py
Due: pyupgrade, mypy, check-mypy-bypass

set CSRF_TRUSTED_ORIGINS
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add current user API and show avatar in header (#39)
  frontend/src/components/Avatar.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/currentUserQueryOptions.ts
  src/firetower/auth/serializers.py
  src/firetower/auth/tests/test_views.py
  src/firetower/auth/urls.py
  src/firetower/auth/views.py
  src/firetower/incidents/urls.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add logging to iap fields
  src/firetower/auth/validators.py
Due: pyupgrade, mypy, check-mypy-bypass

Log level info
  src/firetower/auth/validators.py
Due: pyupgrade, mypy, check-mypy-bypass

Use slack service for syncing user full name and avatars
  src/firetower/auth/services.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove attempt to extract avatar and name from IAP token, as it doesn't exist
  src/firetower/auth/middleware.py
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/auth/validators.py
Due: pyupgrade, mypy, check-mypy-bypass

Cleanup some unused things
  src/firetower/auth/middleware.py
  src/firetower/auth/services.py
  src/firetower/auth/validators.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Add temporary backfill codepath
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_iap_auth.py
Due: pyupgrade, mypy, check-mypy-bypass

Implement django admin user model action to resync with slack
  src/firetower/auth/admin.py
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_admin.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

User new React 19 ref prop instead of forwardRef
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.tsx
  frontend/src/components/Spinner.tsx
Due: eslint, prettier, knip

Use dynamic titles
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

set CSRF_TRUSTED_ORIGINS (#41)
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Use dynamic page titles (#43)
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.tsx
  frontend/src/components/Spinner.tsx
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

feat: Use slack for fetching user name and avatar (#42)
  src/firetower/auth/admin.py
  src/firetower/auth/middleware.py
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_admin.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/auth/validators.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Clean up error states
  frontend/.gitignore
  frontend/src/components/ErrorState.tsx
  frontend/src/components/GetHelpLink.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Tweaks
  frontend/src/components/ErrorState.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Refactor back button into error component
  frontend/src/components/ErrorState.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/__root.tsx
Due: eslint, prettier, knip

Refactor STATUS_FILTER_GROUPS out to shared types file
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/types.ts
  frontend/vite.config.ts
Due: eslint, prettier, knip

Pull out array util
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/utils/arrays.ts
Due: eslint, prettier, knip

Add tests
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

Fix vertical alignment of pill
  frontend/src/components/Pill.tsx
Due: eslint, prettier, knip

Fix test
  frontend/src/components/Pill.test.tsx
Due: eslint, prettier, knip

Couple tweaks
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip
