Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

try a different reference format?
  .github/workflows/deploy.yml
Due: none

???
  .github/workflows/deploy.yml
Due: none

its clearly ignoring the registry. try this?
  .github/workflows/deploy.yml
Due: none

django: allow test environment url (#21)
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

how was this even working without the checkout action???
  .github/workflows/deploy.yml
Due: none

I think these have to be different
  .github/workflows/deploy.yml
Due: none

Implement back button
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/SlackLink.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Add back button tests
  frontend/src/routes/components/Header.test.tsx
  frontend/utils/testing-library.ts
Due: eslint, prettier, knip

Fix type error:
  frontend/utils/testing-library.ts
Due: eslint, prettier, knip

Fix lint warnings
  frontend/src/routes/components/Header.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Remove comments
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

Add comment about polyfill
  frontend/utils/testing-library.ts
Due: eslint, prettier, knip

Use bun instead of npm
  frontend/bun.lock
  frontend/package-lock.json
Due: prettier

feat: Back button (#22)
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/SlackLink.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles/index.css
  frontend/utils/testing-library.ts
Due: eslint, prettier, knip

Set default value for slack team id
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Set default value for slack team id (#24)
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add logging to slack client
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix oops
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

debug: Add debug logging to slack client (#25)
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Add google-cloud-logging
  pyproject.toml
  src/firetower/integrations/services/slack.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

fix: debug logging (#26)
  pyproject.toml
  src/firetower/integrations/services/slack.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Implement backend participant lookup
  src/firetower/incidents/tests.py
  src/firetower/incidents/transformers.py
  src/firetower/integrations/services/jira.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Move tests
  src/firetower/incidents/tests/__init__.py
  src/firetower/incidents/tests/test_transformers.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix linting
  src/firetower/incidents/tests/test_transformers.py
Due: pyupgrade, mypy, check-mypy-bypass

Implement participants list component
  frontend/src/components/Avatar.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  src/firetower/incidents/transformers.py
  src/firetower/integrations/services/jira.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Tweaks
  frontend/src/components/Avatar.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

feat: Implement participants list component (#28)
  frontend/src/components/Avatar.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  src/firetower/incidents/transformers.py
  src/firetower/integrations/services/jira.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

add postgres support, local postgres docker-compose
  README.md
  docker-compose.db.yml
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

django: don't use some defaults in prod
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

also catch empty string
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

add postgres support, local postgres docker-compose (#29)
  README.md
  docker-compose.db.yml
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Move Jira.PROJECT_KEY to global PROJECT_KEY
  src/firetower/incidents/views.py
  src/firetower/integrations/services/jira.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add required Enums in advance of actual model creation
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Add core models and initial migrations
  src/firetower/auth/__init__.py
  src/firetower/auth/admin.py
  src/firetower/auth/apps.py
  src/firetower/auth/migrations/0001_initial.py
  src/firetower/auth/migrations/__init__.py
  src/firetower/auth/models.py
  src/firetower/auth/signals.py
  src/firetower/auth/tests.py
  src/firetower/auth/views.py
  src/firetower/incidents/migrations/0001_initial.py
  src/firetower/incidents/migrations/0002_set_incident_sequence.py
  src/firetower/incidents/models.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add model tests
  pyproject.toml
  src/firetower/auth/admin.py
  src/firetower/auth/tests.py
  src/firetower/auth/tests/__init__.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/tests.py
  src/firetower/incidents/tests/__init__.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/integrations/test_jira.py
Due: pyupgrade, mypy, check-mypy-bypass

Add django-stubs
  pyproject.toml
  src/firetower/auth/models.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Run formatting and sorting
  src/firetower/auth/admin.py
  src/firetower/auth/apps.py
  src/firetower/auth/models.py
  src/firetower/auth/signals.py
  src/firetower/auth/tests/test_models.py
  src/firetower/auth/views.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Add postgres service to backend tests
  .github/workflows/ci.yml
Due: none

Run migrations in backend tests
  .github/workflows/ci.yml
Due: none

Revert previous, ensure auth signals are loaded on start
  .github/workflows/ci.yml
  src/firetower/auth/apps.py
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

