Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Fix ruff issue
  src/firetower/auth/apps.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove root cause text field in favor of just tags
  src/firetower/auth/apps.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0003_remove_root_cause_text_field.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Make tags preserve initial case and be case-insensitive unique
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename .*_type fields to just type (i.e., tag.tag_type -> tag.type)
  src/firetower/auth/admin.py
  src/firetower/auth/migrations/0002_rename_type_fields.py
  src/firetower/auth/models.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0004_rename_type_fields.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Use django default is_superuser instead of custom admin field
  src/firetower/auth/admin.py
  src/firetower/auth/migrations/0003_remove_is_admin_field.py
  src/firetower/auth/models.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Create core models and initial migrations (#30)
  .github/workflows/ci.yml
  pyproject.toml
  src/firetower/auth/__init__.py
  src/firetower/auth/admin.py
  src/firetower/auth/apps.py
  src/firetower/auth/migrations/0001_initial.py
  src/firetower/auth/migrations/0002_rename_type_fields.py
  src/firetower/auth/migrations/0003_remove_is_admin_field.py
  src/firetower/auth/migrations/__init__.py
  src/firetower/auth/models.py
  src/firetower/auth/signals.py
  src/firetower/auth/tests/__init__.py
  src/firetower/auth/tests/test_models.py
  src/firetower/auth/views.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0001_initial.py
  src/firetower/incidents/migrations/0002_set_incident_sequence.py
  src/firetower/incidents/migrations/0003_remove_root_cause_text_field.py
  src/firetower/incidents/migrations/0004_rename_type_fields.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests.py
  src/firetower/incidents/tests/__init__.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/views.py
  src/firetower/integrations/services/jira.py
  src/firetower/integrations/test_jira.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Add serializers to support frontend (ui) views
  src/firetower/auth/serializers.py
  src/firetower/auth/tests/test_serializers.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add serializers for UI views (#31)
  src/firetower/auth/serializers.py
  src/firetower/auth/tests/test_serializers.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Convert views to firetower data instead of jira
  src/firetower/incidents/models.py
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/transformers.py
  src/firetower/incidents/views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Update frontend to work with paginated response (also add little lock for private incs)
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/incidents/management/__init__.py
  src/firetower/incidents/management/commands/__init__.py
  src/firetower/incidents/management/commands/seed_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Convert to infinite scroll instead of explicit pages
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Update participants/captain/reporter handling
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Remove management command
  src/firetower/incidents/management/__init__.py
  src/firetower/incidents/management/commands/__init__.py
  src/firetower/incidents/management/commands/seed_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

Tweaks b4 review
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/auth/tests/test_serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix tests:
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

add migration deployment & run
  .github/workflows/deploy.yml
Due: none

dont push if CI fails
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

[ci] move cloudbuild to GitHub Actions
  .github/workflows/deploy.yml
  cloudbuild.yaml
Due: none

[ci] remove test triggers
  .github/workflows/deploy.yml
Due: none

fix ref ref
  .github/workflows/deploy.yml
Due: none

slug-ify
  .github/workflows/deploy.yml
Due: none

DRY docker image tag
  .github/workflows/deploy.yml
Due: none

[ci] move from cloud build to github actions (#20)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  cloudbuild.yaml
Due: none

fix: environment selector should override branch name detection
  .github/workflows/deploy.yml
Due: none

feat: Update views to use firetower-backed data (#32)
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/auth/tests/test_serializers.py
  src/firetower/incidents/models.py
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/transformers.py
  src/firetower/incidents/views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add google-auth dependency for IAP authentication
  pyproject.toml
  uv.lock
Due: none

Add IAP JWT token validator and settings
  src/firetower/auth/validators.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix lint issue
  src/firetower/auth/validators.py
Due: pyupgrade, mypy, check-mypy-bypass

Add user creation service with avatar/email sync for IAP auth
  src/firetower/auth/services.py
  src/firetower/auth/validators.py
Due: pyupgrade, mypy, check-mypy-bypass

Add IAP authentication middleware with dev mode safety
  src/firetower/auth/middleware.py
Due: pyupgrade, mypy, check-mypy-bypass

Wire up IAP authentication middleware in settings
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add tests
  src/firetower/auth/tests/test_iap_auth.py
Due: pyupgrade, mypy, check-mypy-bypass

Add logging to IAP authentication for production monitoring
  src/firetower/auth/middleware.py
  src/firetower/auth/services.py
Due: pyupgrade, mypy, check-mypy-bypass

Update username stuff
  src/firetower/auth/models.py
  src/firetower/auth/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix tests
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add security validations for IAP authentication
  src/firetower/auth/middleware.py
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/auth/validators.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

add cryptography for jwt validation
  pyproject.toml
  uv.lock
Due: none

feat: Add Google IAP authentication for Django users (#35)
  pyproject.toml
  src/firetower/auth/middleware.py
  src/firetower/auth/models.py
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/auth/tests/test_models.py
  src/firetower/auth/validators.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Add initial superusers based on email
  src/firetower/auth/apps.py
  src/firetower/auth/startup.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix tests
  src/firetower/auth/startup.py
Due: pyupgrade, mypy, check-mypy-bypass
