Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


fix for possible N+1 condition raised by Cursor
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

added filter to make sure incident is visible by the user
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

updated downtime state to an number
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
Due: eslint, prettier, knip

moved components out into their own files
  frontend/src/routes/availability/components/AvailabilityCell.tsx
  frontend/src/routes/availability/components/PeriodTab.tsx
  frontend/src/routes/availability/components/RegionTable.tsx
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

converted react rendering to use ternaries
  frontend/src/routes/availability/components/AvailabilityCell.tsx
Due: eslint, prettier, knip

using base enums for period
  frontend/src/routes/availability/components/PeriodTab.tsx
  frontend/src/routes/availability/components/RegionTable.tsx
  frontend/src/routes/availability/index.tsx
  frontend/src/routes/availability/queries/availabilityQueryOptions.ts
Due: eslint, prettier, knip

moved helper functionas into reporting util file
  src/firetower/incidents/reporting_utils.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

updated rollover colors to be the same as the main page
  frontend/src/routes/availability/components/PeriodTab.tsx
Due: eslint, prettier, knip

moved downtime into it's own component file
  frontend/src/routes/$incidentId/components/DowntimeField.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
Due: eslint, prettier, knip

reverted header changes; availability view can be reached in the url
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

fix for mypy test
  src/firetower/incidents/reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack-bolt dependency
  pyproject.toml
  uv.lock
Due: none

Add signing_secret to Slack config
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack_app Django app with Bolt wiring and /inc help command
  src/firetower/slack_app/__init__.py
  src/firetower/slack_app/apps.py
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/__init__.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/__init__.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
  src/firetower/slack_app/urls.py
  src/firetower/slack_app/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add Datadog metrics instrumentation for slash commands
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add signing_secret to CI config and fix ruff lint
  config.ci.toml
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test values for slack bot
  config.ci.toml
Due: none

Fix TZ warnings
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

tweaks
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename slack app in help command
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove HTTP-based slack event handling in favor of Socket Mode
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_views.py
  src/firetower/slack_app/urls.py
  src/firetower/slack_app/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add app_token config for Slack Socket Mode
  config.ci.toml
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add run_slack_bot management command and Docker entrypoint
  docker/entrypoint.sh
  src/firetower/slack_app/management/__init__.py
  src/firetower/slack_app/management/commands/__init__.py
  src/firetower/slack_app/management/commands/run_slack_bot.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack bot deploy step to GitHub Actions
  .github/workflows/deploy.yml
Due: none

Disable token verification in Bolt for Socket Mode
  src/firetower/slack_app/bolt.py
Due: pyupgrade, mypy, check-mypy-bypass

Run prettier
  frontend/src/routes/$incidentId/components/DowntimeField.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/availability/components/RegionTable.tsx
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

Run ruff format
  src/firetower/incidents/reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Add CODEOWNERS file
  CODEOWNERS
Due: none

removed duplicate downtime formatting logic
  src/firetower/incidents/models.py
  src/firetower/incidents/reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass

added check to make sure negative downtimes aren't submitted
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add tag filtering to incident list APIs
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add status filtering to Service API and extract filter_by_status helper
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add service tier filtering to incident list APIs
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add .distinct() to filter_by_tags to prevent duplicate results
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add StrEnum types to SDK for status, severity, and service tier
  sdk/src/firetower_sdk/__init__.py
  sdk/src/firetower_sdk/client.py
  sdk/src/firetower_sdk/enums.py
  sdk/tests/test_client.py
Due: pyupgrade, mypy, check-mypy-bypass

Drop redundant str union from enum type hints
  sdk/src/firetower_sdk/client.py
Due: pyupgrade, mypy, check-mypy-bypass

Add tests and update docstring
  sdk/src/firetower_sdk/client.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add captain and reporter filtering as well
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename SDK captain/reporter params to match API
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
Due: pyupgrade, mypy, check-mypy-bypass

Pull filter functions out to separate file
  src/firetower/incidents/filters.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass
