Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


feat: Use EditableTextField for incident details (#57)
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Add show more button to participants list
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Disable tailwindcss/no-custom-classname rule
  frontend/eslint.config.js
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Tag.test.tsx
Due: eslint, prettier, knip

chore(granian): bump to 2.6, tune config
  docker/backend.Dockerfile
  nginx.conf
  pyproject.toml
  uv.lock
Due: none

move everything into entrypoint
  docker/backend.Dockerfile
Due: none

fix rebase
  docker/backend.Dockerfile
Due: none

we should be using granian
  docker/backend.Dockerfile
Due: none

testing point
  docker-compose.db.yml
Due: none

cherrypick just the deps and docker
  docker/backend.Dockerfile
  pyproject.toml
  uv.lock
Due: none

that worked, now cherrypick settings.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

theory: hang while resolving localhost?
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

so thats not it. maybe these logs will show up?
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

update ddtrace? really guessing here
  pyproject.toml
  uv.lock
Due: none

these shouldn't be required, lib will read from env anyway
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

just initialize. no kwargs.
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

this might be crazy but just to check: no initialize
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Update deps
  frontend/bun.lock
  frontend/package.json
  frontend/prettier.config.mjs
  frontend/src/api.ts
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.tsx
  frontend/utils/matchers.d.ts
Due: eslint, prettier, knip

Update eslint-plugin-react-hooks
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Tag.test.tsx
Due: eslint, prettier, knip

Fix nginx host forwarding
  nginx.conf
Due: none

feat: Add API endpoint to list tags by type (#58)
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

chore: Update frontend deps (#61)
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/package.json
  frontend/prettier.config.mjs
  frontend/src/api.ts
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Pill.tsx
  frontend/src/components/Tag.test.tsx
  frontend/utils/matchers.d.ts
  nginx.conf
Due: eslint, prettier, knip

feat: Add show more button to participants list (#60)
  frontend/eslint.config.js
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Add visibility overflow menu component
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Revert "Exempt Service API endpoints from CSRF checks"
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Exempt Service API endpoints from CSRF checks
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Extend updateIncidentField mutation to support is_private
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Add tests for ConfirmationDialog and OverflowMenu
  frontend/src/components/ConfirmationDialog.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
Due: eslint, prettier, knip

Add confirmation dialog for visibility toggle
  frontend/src/routes/$incidentId/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Add cursor-pointer to buttons
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Extract ConfirmationDialog to global components
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Add shadow on hover to kebab button
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Wire up visibility toggle in overflow menu
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Fix vertical alignment of incident ID label
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Convert ConfirmationDialog to function declaration
  frontend/src/components/ConfirmationDialog.tsx
Due: eslint, prettier, knip

Update visibility menu copy
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Use purple accent color for confirm button
  frontend/src/components/ConfirmationDialog.tsx
Due: eslint, prettier, knip

Fix formatting
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Fix vertical alignment of participant name and role
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Fix vertical alignment of fallback avatar initials
  frontend/src/components/Avatar.tsx
Due: eslint, prettier, knip

Fix Avenir font vertical alignment globally with ascent-override
  frontend/src/styles/index.css
Due: prettier
