Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

ci: Deploy production MCP after relevant merges (#352)
  .github/workflows/deploy.yml
Due: none

Update MCP code for FastMCP 4
  src/firetower/mcp_server/branding.py
  src/firetower/mcp_server/tests/test_server.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

chore: Update FastMCP for MCP SDK v2 (#363)
  pyproject.toml
  src/firetower/mcp_server/branding.py
  src/firetower/mcp_server/tests/test_server.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Update vulnerable Python dependencies
  sdk/uv.lock
  uv.lock
Due: none

Update vulnerable frontend dependencies
  .github/workflows/ci.yml
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

Add Dependabot coverage for frontend and SDK
  .github/dependabot.yml
Due: none

Upgrade Ruff and fix new lint violations
  pyproject.toml
  sdk/src/firetower_sdk/__init__.py
  sdk/src/firetower_sdk/client.py
  src/firetower/mcp_server/tests/test_tools.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Apply Ruff 0.16 formatting
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

chore: Upgrade Ruff and fix new lint violations (#377)
  pyproject.toml
  sdk/src/firetower_sdk/__init__.py
  sdk/src/firetower_sdk/client.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/mcp_server/tests/test_tools.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Expose incident timeline events through Firetower MCP
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_timeline.py
  src/firetower/incidents/urls.py
  src/firetower/mcp_server/branding.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Update OAuth callback test for FastMCP authorization validation
  src/firetower/mcp_server/tests/test_server.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove actor avatar URLs from MCP timeline events
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert "Remove actor avatar URLs from MCP timeline events"
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Align MCP fields and callback test with FastMCP 4
  src/firetower/mcp_server/branding.py
  src/firetower/mcp_server/tests/test_server.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Expose incident timeline events through Firetower MCP (#365)
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_timeline.py
  src/firetower/incidents/urls.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Add incident action items to Firetower MCP
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/urls.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Expose incident action items through Firetower MCP (#379)
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/urls.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Use Scraps as the frontend token source
  docker/static.Dockerfile
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/scripts/generate-scraps-theme.mjs
  frontend/src/components/EditableDateTimeField.tsx
  frontend/src/routes/$incidentId/components/DowntimeField.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/styles/design-tokens.css
  frontend/src/styles/index.css
  frontend/src/styles/scraps-theme.css
Due: eslint, prettier, knip

Fix header alignment and editable pill hover bounds
  frontend/src/components/EditablePill.tsx
  frontend/src/routes/components/Header.tsx
Due: eslint, prettier, knip

Make editable pill dropdown rows full width
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Limit dropdown hover styling to each pill
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Harden MCP identity and security logging
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/mcp_server/auth.py
  src/firetower/mcp_server/logging.py
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/test_auth.py
  src/firetower/mcp_server/tests/test_logging.py
  src/firetower/mcp_server/tests/test_server.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Restore dropdown item hover colors
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Preserve MCP streaming and enforce OAuth log filtering
  src/firetower/mcp_server/logging.py
  src/firetower/mcp_server/tests/test_logging.py
Due: pyupgrade, mypy, check-mypy-bypass

Highlight dropdown item boxes without changing pills
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Preserve startup and exception log details
  src/firetower/mcp_server/logging.py
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/test_logging.py
  src/firetower/mcp_server/tests/test_server.py
Due: pyupgrade, mypy, check-mypy-bypass

Expand dropdown item boxes within menu margins
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

fix: Harden MCP identity and security logging (#381)
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/mcp_server/auth.py
  src/firetower/mcp_server/logging.py
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/test_auth.py
  src/firetower/mcp_server/tests/test_logging.py
  src/firetower/mcp_server/tests/test_server.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Stretch dropdown item boxes to the widest option
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

