Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


update tests for re-raise behavior
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

re-raise
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

use logger
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Add list incidents handler with tests
  src/firetower/slack_app/handlers/list_incidents.py
  src/firetower/slack_app/tests/handlers/test_list_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(async): Add django-q2 with ORM broker and demo job (#161)
  README.md
  docker/entrypoint.sh
  pyproject.toml
  src/firetower/config.py
  src/firetower/incidents/management/__init__.py
  src/firetower/incidents/management/commands/__init__.py
  src/firetower/incidents/management/commands/wrapped_worker.py
  src/firetower/incidents/migrations/0016_schedule_demo.py
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Register /ft list command in bolt router and help text
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/help.py
Due: pyupgrade, mypy, check-mypy-bypass

async: deploy to test env
  .github/workflows/deploy.yml
Due: none

fix(slack): Reject workspace guest users from /ft list
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/list_incidents.py
  src/firetower/slack_app/tests/handlers/test_list_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Escape user-supplied text in /ft list output
  src/firetower/slack_app/handlers/list_incidents.py
  src/firetower/slack_app/tests/handlers/test_list_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

Expand resolved modal to include full metadata fields
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

Validate title field in resolved modal
  src/firetower/slack_app/handlers/resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Show full metadata modal on /inc fixed|resolved (#190)
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

Close stale DB connections in handler threads, not middleware thread
  src/firetower/slack_app/bolt.py
Due: pyupgrade, mypy, check-mypy-bypass

Mock close_old_connections in tests that don't use the DB
  src/firetower/slack_app/tests/handlers/test_help.py
  src/firetower/slack_app/tests/test_bolt.py
Due: pyupgrade, mypy, check-mypy-bypass

Enable CONN_HEALTH_CHECKS for DB connection recovery
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Mock close_old_connections in backfill routing test
  src/firetower/slack_app/tests/handlers/test_backfill_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

Close stale connections in handle_tag_options
  src/firetower/slack_app/handlers/new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

Mock close_old_connections in tag options tests
  src/firetower/slack_app/tests/handlers/test_new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Recover DB connections in slack bot after primary failover (#196)
  src/firetower/settings.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/tests/handlers/test_backfill_incident.py
  src/firetower/slack_app/tests/handlers/test_help.py
  src/firetower/slack_app/tests/handlers/test_new_incident.py
  src/firetower/slack_app/tests/test_bolt.py
Due: pyupgrade, mypy, check-mypy-bypass

Replace bun with pnpm and vitest in frontend
  frontend/.prettierignore
  frontend/bun.lock
  frontend/bunfig.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/components/Card.test.tsx
  frontend/src/components/ConfirmationDialog.test.tsx
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/EditableTags.test.tsx
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Tag.test.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/utils/cn.test.ts
  frontend/tsconfig.app.json
  frontend/utils/testing-library.ts
  frontend/vite.config.ts
Due: eslint, prettier, knip

Update CI workflow to use pnpm instead of bun
  .github/workflows/ci.yml
Due: none

Update pre-commit hooks to use pnpm instead of bun
  .pre-commit-config.yaml
Due: none

Update Dockerfile to use node and pnpm instead of bun
  docker/static.Dockerfile
Due: none

Update README and AGENTS.md to reference pnpm instead of bun
  AGENTS.md
  README.md
Due: none

Remove bun:test type declarations
  frontend/utils/matchers.d.ts
Due: eslint, prettier, knip

Fix coverage flags, pin pnpm version, add coverage provider
  .github/workflows/ci.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

chore: Replace bun with pnpm and node (#197)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docker/static.Dockerfile
  frontend/.prettierignore
  frontend/bun.lock
  frontend/bunfig.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/components/Card.test.tsx
  frontend/src/components/ConfirmationDialog.test.tsx
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/EditableTags.test.tsx
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Tag.test.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/utils/cn.test.ts
  frontend/tsconfig.app.json
  frontend/utils/matchers.d.ts
  frontend/utils/testing-library.ts
  frontend/vite.config.ts
Due: eslint, prettier, knip

use ddtrace-run for child process
  src/firetower/incidents/management/commands/wrapped_worker.py
Due: pyupgrade, mypy, check-mypy-bypass

move ddtrace to a prod dependency
  pyproject.toml
  uv.lock
Due: none

async: deploy to test env (#195)
  .github/workflows/deploy.yml
Due: none

async: deploy to prod env
  .github/workflows/deploy.yml
Due: none

feat: Add incident status endpoint with privileged read access
  sdk/src/firetower_sdk/client.py
  src/firetower/incidents/migrations/0017_alter_incident_options.py
  src/firetower/incidents/models.py
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

fix incident existence leak
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

re-add view permissions
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

force unauth for test
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

remove unauth test, will test this manually
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Block postmortem generation and mask titles for private incidents
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

Add guidance message when dumpslack is run on a private incident
  src/firetower/slack_app/handlers/dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Block postmortem generation for private incidents (#202)
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

Update dumpslack help text
  src/firetower/slack_app/handlers/help.py
Due: pyupgrade, mypy, check-mypy-bypass
