Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Only skip CSRF for API paths, keep CSRF for admin
  src/firetower/auth/middleware.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Skip CSRF for IAP-authenticated requests (#73)
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  src/firetower/auth/authentication.py
  src/firetower/auth/middleware.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add EditableTags component for editing affected areas and root causes
  frontend/src/components/EditableTags.tsx
  frontend/src/components/Tag.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Use tags API endpoint for EditableTags suggestions
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Add onCreate callback to EditableTags for creating new tags
  frontend/src/components/EditableTags.tsx
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Prevent creating tags that already exist case-insensitively
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Optimistically update tags list on create
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Show error state in EditableTags when tag creation fails
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Fix response schema for tag creation and add background refetch
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Save affected_areas and root_causes via incident mutation
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Save on Enter when input is empty in EditableTags
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Fix Tag test to match span element
  frontend/src/components/Tag.test.tsx
Due: eslint, prettier, knip

Use correct field names for tag updates (affected_area_tags, root_cause_tags)
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Add emptyText prop to EditableTextField for empty state display
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Simplify EditableTags component
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Remove tag creation, show empty state when no matches
  frontend/src/components/EditableTags.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
Due: eslint, prettier, knip

Disable codecov comment
  codecov.yml
Due: none

Add tests
  frontend/src/components/EditableTags.test.tsx
Due: eslint, prettier, knip

Pull buttons out to reusable component for style alignment
  frontend/src/components/Button.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Add icon and close button variants
  frontend/src/components/Button.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Use Button component in ParticipantsList
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Use Button component in ConfirmationDialog and OverflowMenu
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

feat: Add EditableTags component (#59)
  codecov.yml
  frontend/src/components/Button.tsx
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/components/EditableTags.test.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/Tag.test.tsx
  frontend/src/components/Tag.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Add react-day-picker, date-fns, radix-ui/react-popover
  frontend/bun.lock
  frontend/package.json
Due: prettier

Add Popover component
  frontend/src/components/Popover.tsx
Due: eslint, prettier, knip

Convert popovers to shared component
  frontend/src/components/EditablePill.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Add Calendar and DateTimePicker components
  frontend/src/components/Calendar.tsx
  frontend/src/components/DateTimePicker.tsx
Due: eslint, prettier, knip

Re-implement date picker lol
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Button.tsx
  frontend/src/components/Calendar.tsx
  frontend/src/components/DateTimePicker.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/Label.tsx
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

Fix bug
  frontend/src/components/DateTimePicker.tsx
Due: eslint, prettier, knip

Update README.md
  README.md
Due: none

feat: Add DateTimePicker component (#74)
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Button.tsx
  frontend/src/components/Calendar.tsx
  frontend/src/components/DateTimePicker.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/Label.tsx
  frontend/src/components/Popover.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

Add milestone timestamps to incident model
  src/firetower/incidents/migrations/0006_add_milestone_timestamps.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Update serializers/views/zod schemas
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix migration conflict
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
Due: pyupgrade, mypy, check-mypy-bypass

Add impact_tags and rename impact -> impact_summary
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add Impact to inc details
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add basic milestone list component
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Add Milestones section
  frontend/src/components/DateTimePicker.tsx
  frontend/src/components/EditableDateTimeField.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/index.tsx
  src/firetower/incidents/admin.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Tweak things across details page
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/components/IncidentCard.tsx
Due: eslint, prettier, knip

Rename Impact to Impact type
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

