Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


add django readiness probe
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

nginx: more explicit proxy paths
  nginx.conf
Due: none

Add Serializers, Views, and url mappings for programmatic API
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add tests
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

404 on unauthorized instead of 403
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test for inc timestamps
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Update frontend API expectations
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
Due: eslint, prettier, knip

Programmatic API -> Service API
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Allow create/update for external links
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix tests
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove PUT request for incidents
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix bug - good job seer :)
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Make update perms == read perms
  src/firetower/incidents/permissions.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add Service API (#49)
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/models.py
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add participants_last_synced_at field to Incident model
  src/firetower/incidents/migrations/0005_incident_participants_last_synced_at.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Add new slack service methods for participant sync
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Update user profile sync to create/update ExternalProfile for slack
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_services.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Add get_or_create_user_from_slack_id() and tests
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

Merge slack-provisioned user with IAP user on first IAP login
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_iap_auth.py
Due: pyupgrade, mypy, check-mypy-bypass

Add sync_incident_participants_from_slack with throttle mechanism
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

sync slack users on request to UI inc details view
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add admin action to sync slack participants manually
  src/firetower/incidents/admin.py
  src/firetower/incidents/tests/test_admin.py
Due: pyupgrade, mypy, check-mypy-bypass

Filter out bot users
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

Tweak django setting/default
  src/firetower/incidents/services.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add endpoint for forcing participants sync
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Make it work with new ruff and mypy requirements
  src/firetower/auth/tests/test_services.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_admin.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix security concern
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Move sync endpoint to Service API and add IncidentPermission
  src/firetower/incidents/permissions.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Tweak comment
  src/firetower/incidents/permissions.py
Due: pyupgrade, mypy, check-mypy-bypass

Simplify more into non-sub-component API
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Add lucide-react for icons
  frontend/bun.lock
  frontend/package.json
Due: prettier

Add some tests
  frontend/src/components/EditableTextField.test.tsx
Due: eslint, prettier, knip

Add optional titled field mode
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

lint:fix
  frontend/src/components/ErrorState.tsx
  frontend/src/routes/$incidentId/components/IncidentDetailSkeleton.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/LinksList.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/components/IncidentListSkeleton.tsx
Due: eslint, prettier, knip

Simplify things:
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

More component API/style tweaks
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Implement EditableTextField
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Optimize updateDraft callback to prevent unnecessary recreations
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

feat: Create EditableTextField component (#52)
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/ErrorState.tsx
  frontend/src/routes/$incidentId/components/IncidentDetailSkeleton.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/LinksList.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/components/IncidentListSkeleton.tsx
Due: eslint, prettier, knip

Add Impact, Affected Areas, and Root Cause on IncidentSummary
  frontend/src/components/Tag.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip
