Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Implement firetower sdk
  sdk/src/firetower_sdk/__init__.py
  sdk/src/firetower_sdk/auth.py
  sdk/src/firetower_sdk/client.py
  sdk/src/firetower_sdk/exceptions.py
  sdk/src/firetower_sdk/utils.py
  sdk/tests/__init__.py
  sdk/tests/test_client.py
  sdk/tests/test_utils.py
  sdk/uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Add pyproject.toml accidentally ignored it oops
  sdk/pyproject.toml
Due: none

Update deps
  sdk/pyproject.toml
  sdk/uv.lock
Due: none

feat: Implement Firetower SDK (#92)
  sdk/pyproject.toml
  sdk/src/firetower_sdk/__init__.py
  sdk/src/firetower_sdk/auth.py
  sdk/src/firetower_sdk/client.py
  sdk/src/firetower_sdk/exceptions.py
  sdk/src/firetower_sdk/utils.py
  sdk/tests/__init__.py
  sdk/tests/test_client.py
  sdk/tests/test_utils.py
  sdk/uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

more tweaks
  frontend/src/components/Tag.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

more dark mode proposals
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

dark mode: fix colors on convert to private
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

add bg to body tag to prevent white flash on initial load
  frontend/index.html
Due: none

filter bg primary light, neutral-muted dark
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

restrict deploys: only push main to prod
  .github/workflows/deploy.yml
Due: none

Allow filtering by created_after and created_before in list endpoints
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test for timezone-aware date filtering
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add date filtering to incident list endpoints (#95)
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Read FIRETOWER_URL in sdk logic to move it out of caller logic, falls back to prod urlgs
  sdk/src/firetower_sdk/client.py
  sdk/src/firetower_sdk/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Accept case insensitive inc status
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Tweak pytest config and create separate CI job for sdk tests
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Update workflow perms
  .github/workflows/ci.yml
Due: none

Add date filters to list_incidents method in sdk
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
Due: pyupgrade, mypy, check-mypy-bypass

Django upgrade to 5.2.10
  pyproject.toml
  uv.lock
Due: none

Bump transitive deps
  uv.lock
Due: none

chore: Upgrade some deps (#97)
  pyproject.toml
  uv.lock
Due: none

feat: SDK improvements for opsbot integration (#96)
  .github/workflows/ci.yml
  pyproject.toml
  sdk/src/firetower_sdk/client.py
  sdk/src/firetower_sdk/utils.py
  sdk/tests/test_client.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add severity filter to incident list endpoints
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Extend SDK with the new filter
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
Due: pyupgrade, mypy, check-mypy-bypass

Update readme draft 1
  README.md
Due: none

Tweaks
  README.md
Due: none

Remove JiraService and jira pip dependency
  pyproject.toml
  src/firetower/integrations/services/__init__.py
  src/firetower/integrations/services/jira.py
  src/firetower/integrations/test_jira.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Remove JIRA external link type and add data migration
  src/firetower/incidents/migrations/0014_remove_jira_external_link_type.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove Jira from frontend components
  frontend/public/jira.svg
  frontend/src/routes/$incidentId/components/LinksList.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
Due: eslint, prettier, knip

Bump django to 5.2.11 and protobuf to 6.33.5 for security fixes
  sdk/uv.lock
  uv.lock
Due: none

chore: Bump django and protobuf for security fixes (#101)
  sdk/uv.lock
  uv.lock
Due: none

Implement Tooltip component
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Tooltip.tsx
  frontend/src/main.tsx
Due: eslint, prettier, knip

Disable PM status transition from UI
  frontend/src/components/EditablePill.tsx
  frontend/src/components/Tooltip.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Fix light mode color
  frontend/src/styles/index.css
Due: prettier

Fix things
  frontend/src/components/EditablePill.tsx
Due: eslint, prettier, knip

feat: Add severity filter to incident list endpoints (#98)
  sdk/src/firetower_sdk/client.py
  sdk/tests/test_client.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Make Captain/Reporter searchable
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Sync slack topic on relevant field changes
  src/firetower/incidents/serializers.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

docs: Update readme (#99)
  README.md
Due: none

Remove sync stats stuff for simplicity
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass
