Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


feat(dd): Add dd agent to our setup
  docker/backend.Dockerfile
  pyproject.toml
Due: none

fixes from AI flags
  src/firetower/health.py
  src/firetower/test_health.py
Due: pyupgrade, mypy, check-mypy-bypass

add readiness metrics
  src/firetower/health.py
  src/firetower/settings.py
  src/firetower/test_health.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

remove bad comment
  src/firetower/health.py
Due: pyupgrade, mypy, check-mypy-bypass

fix formatting
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

fix sh
  docker/backend.Dockerfile
Due: none

remove extraneous f""
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix things ai found
  src/firetower/health.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix mock
  src/firetower/test_health.py
Due: pyupgrade, mypy, check-mypy-bypass

fix case
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

remove whitespace
  docker/backend.Dockerfile
Due: none

we should be using granian
  docker/backend.Dockerfile
Due: none

move everything into entrypoint
  docker/backend.Dockerfile
Due: none

fix rebase
  docker/backend.Dockerfile
Due: none

unified entrypoint
  docker/backend.Dockerfile
  docker/entrypoint.sh
Due: none

remove cloud logging
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

add api/app key lookups
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: absolute path for default CMD
  docker/backend.Dockerfile
Due: none

feat(dd): Add dd agent to our setup (#53)
  docker/backend.Dockerfile
  docker/entrypoint.sh
  pyproject.toml
  src/firetower/health.py
  src/firetower/settings.py
  src/firetower/test_health.py
  src/firetower/urls.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Simplify click-outside handling in EditablePill and OverflowMenu
  frontend/src/components/EditablePill.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Add inline editing for captain and reporter roles
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Update deps (another react CVE)
  frontend/bun.lock
  frontend/package.json
Due: prettier

Fix bug
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Fix dropdown showing duplicate when captain equals reporter
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Add more tests
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
Due: eslint, prettier, knip

Simplify click-outside handling and use indexed username lookup
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix focus trapping in dropdowns and add Escape key support
  frontend/src/components/EditablePill.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
Due: eslint, prettier, knip

Catch errors in participant role change
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

sentry: don't log in dev mode
  frontend/src/api.ts
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.tsx
  frontend/src/main.tsx
  frontend/utils/matchers.d.ts
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

formatting
  frontend/src/api.ts
  frontend/src/components/Card.tsx
  frontend/src/components/Pill.tsx
  frontend/utils/matchers.d.ts
Due: eslint, prettier, knip

add "backend" to ALLOWED_HOSTS
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

add "backend" to ALLOWED_HOSTS (#66)
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

sentry: don't log in dev mode (#65)
  frontend/src/main.tsx
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

add basic middlware metrics
  src/firetower/metrics/__init__.py
  src/firetower/metrics/middleware.py
  src/firetower/metrics/tests/__init__.py
  src/firetower/metrics/tests/test_metrics.py
Due: pyupgrade, mypy, check-mypy-bypass

add timing
  src/firetower/metrics/middleware.py
Due: pyupgrade, mypy, check-mypy-bypass

add firetower to metric name
  src/firetower/metrics/middleware.py
  src/firetower/metrics/tests/test_metrics.py
Due: pyupgrade, mypy, check-mypy-bypass

actually use the middleware
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert "add firetower to metric name"
  src/firetower/metrics/middleware.py
  src/firetower/metrics/tests/test_metrics.py
Due: pyupgrade, mypy, check-mypy-bypass

move key name paths to tag paths
  src/firetower/metrics/middleware.py
  src/firetower/metrics/tests/test_metrics.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove ACTIONS_PENDING incident status
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/src/routes/types.ts
  src/firetower/incidents/migrations/0006_remove_actions_pending_status.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip
