Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Fix migration conflict
  src/firetower/incidents/migrations/0009_rename_affected_area_to_affected_service.py
  src/firetower/incidents/migrations/0010_add_affected_region_tags.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix test db migrations
  src/firetower/incidents/migrations/0009_rename_affected_area_to_affected_service.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert migration fix for prod
  src/firetower/incidents/migrations/0009_rename_affected_area_to_affected_service.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Split affected areas into affected regions and affected services (#81)
  frontend/src/components/EditableTags.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0009_rename_affected_area_to_affected_service.py
  src/firetower/incidents/migrations/0010_add_affected_region_tags.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Sort tags by usage count decreasing in tags list
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test for sorting
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add sentry user feedback widget
  frontend/src/main.tsx
Due: eslint, prettier, knip

feat: Sort tags by usage decreasing (#82)
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add sentry user feedback widget (#83)
  frontend/src/main.tsx
Due: eslint, prettier, knip

Rename StatusPage -> Statuspage
  frontend/src/routes/$incidentId/components/LinksList.tsx
  src/firetower/incidents/migrations/0011_alter_externallink_type.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

typo: Rename StatusPage -> Statuspage (#84)
  frontend/src/routes/$incidentId/components/LinksList.tsx
  src/firetower/incidents/migrations/0011_alter_externallink_type.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add Cancelled status
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/src/routes/types.ts
  src/firetower/incidents/migrations/0012_alter_incident_status.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

fix inc creation flow for slack users without firetower accounts
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_services.py
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add integration tests for user auto-provisioning during incident creation
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Fail open: create stub user if Slack lookup fails
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_services.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Refactor user creation to shared helper that handles race conditions
  src/firetower/auth/services.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Auto-provision users from Slack during incident creation (#87)
  src/firetower/auth/services.py
  src/firetower/auth/tests/test_services.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add Cancelled incident status (#86)
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/src/routes/types.ts
  src/firetower/incidents/migrations/0012_alter_incident_status.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

redirect for old incidents
  frontend/src/routes/$incidentId/components/Redirect.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

claude nits
  frontend/src/routes/$incidentId/components/Redirect.tsx
  frontend/src/routes/$incidentId/index.tsx
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

fix frontend tests
  frontend/src/routes/components/Header.test.tsx
Due: eslint, prettier, knip

fix backend tests
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

link to redirect immediately
  frontend/src/routes/$incidentId/components/Redirect.tsx
Due: eslint, prettier, knip

add gh-autolink script, skeleton
  pyproject.toml
  src/firetower/scripts/gh_autolink.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

the rest of the script
  pyproject.toml
  src/firetower/scripts/gh_autolink.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

fix
  src/firetower/scripts/gh_autolink.py
Due: pyupgrade, mypy, check-mypy-bypass

Change link text for Datadog and Notion to Datadog notebook and Postmortem document, respectively
  frontend/src/routes/$incidentId/components/LinksList.tsx
Due: eslint, prettier, knip

copy: Change Notion and Datadog link text (#91)
  frontend/src/routes/$incidentId/components/LinksList.tsx
Due: eslint, prettier, knip

more tweaks
  frontend/src/components/Button.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

dark mode: first pass
  frontend/src/components/EditablePill.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

fix calendar dropdown
  frontend/src/components/Calendar.tsx
Due: eslint, prettier, knip

dark mode link icons
  frontend/src/routes/$incidentId/components/LinksList.tsx
Due: eslint, prettier, knip

dark mode: fix convert private button
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
Due: eslint, prettier, knip

Remove Save/Cancel in favour of save on closing of popover
  frontend/src/components/EditableTags.test.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add approved field on tags to track user-added and unreviewed tags
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0013_add_tag_approved_field.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Prevent impact-type tag creation via API
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add tag creation to frontend EditableTags component
  frontend/src/components/EditableTags.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/createTagMutationOptions.ts
Due: eslint, prettier, knip

Tweak text alignment on create button
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Fix error state
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

feat: Allow tag creation in EditableTags (#90)
  frontend/src/components/EditableTags.test.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/createTagMutationOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0013_add_tag_approved_field.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip
