Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Add run_slack_bot management command and Docker entrypoint
  docker/entrypoint.sh
  src/firetower/slack_app/management/__init__.py
  src/firetower/slack_app/management/commands/__init__.py
  src/firetower/slack_app/management/commands/run_slack_bot.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack bot deploy step to GitHub Actions
  .github/workflows/deploy.yml
Due: none

Mock Slack auth_test in tests instead of disabling token verification
  src/firetower/slack_app/tests/conftest.py
Due: pyupgrade, mypy, check-mypy-bypass

Add health check server for Cloud Run TCP startup probe
  src/firetower/slack_app/management/commands/run_slack_bot.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix TZ warnings in date filters and tests
  src/firetower/incidents/filters.py
  src/firetower/incidents/tests/test_filters.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove unused signing_secret from config
  config.ci.toml
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add prod slack app deploy workflow
  .github/workflows/deploy.yml
Due: none

Change /inc to /ft (/testinc -> /ft-test)
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Scope Slack auth_test patch and normalize metric tags
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/conftest.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix format
  slack-app-manifest.yaml
Due: none

feat: Add Slack app manifest for Firetower (#131)
  slack-app-manifest.yaml
Due: none

Add firetower_base_url config setting
  config.ci.toml
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add SlackService methods for channel management
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

chore: pin GitHub Actions to full-length commit SHAs
  .github/workflows/deploy.yml
Due: none

chore: pin GitHub Actions to full-length commit SHAs (#132)
  .github/workflows/deploy.yml
Due: none

Add incident lifecycle hooks and wire into serializer
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Tweaks
  src/firetower/slack_app/bolt.py
Due: pyupgrade, mypy, check-mypy-bypass

Add /inc new command with modal for creating incidents
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix topic overflow
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Handle validation errors and edge cases in command handlers
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/handlers/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Wire new command handlers into bolt.py routing and update help text
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/help.py
Due: pyupgrade, mypy, check-mypy-bypass

Add mitigated, resolved, reopen, severity, and subject command handlers
  src/firetower/slack_app/handlers/mitigated.py
  src/firetower/slack_app/handlers/reopen.py
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/handlers/severity.py
  src/firetower/slack_app/handlers/subject.py
Due: pyupgrade, mypy, check-mypy-bypass

Add tests for channel command handlers
  src/firetower/slack_app/tests/test_channel_commands.py
Due: pyupgrade, mypy, check-mypy-bypass

Add get_incident_from_channel helper and on_title_changed hook
  src/firetower/incidents/hooks.py
  src/firetower/incidents/serializers.py
  src/firetower/slack_app/handlers/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Address warden feedaback
  src/firetower/slack_app/handlers/mitigated.py
Due: pyupgrade, mypy, check-mypy-bypass

Make downtime minutes nullable, add router ignore pattern for utils, and log errors to sentry and console by default
  frontend/src/main.tsx
  frontend/src/routes/availability/queries/availabilityQueryOptions.ts
  frontend/vite.config.ts
Due: eslint, prettier, knip

fix: Make downtime minutes nullable (#135)
  frontend/src/main.tsx
  frontend/src/routes/availability/queries/availabilityQueryOptions.ts
  frontend/vite.config.ts
Due: eslint, prettier, knip

Add slack-bolt dependency
  pyproject.toml
  uv.lock
Due: none

Add slack_app Django app with Bolt wiring and /inc help command
  src/firetower/slack_app/__init__.py
  src/firetower/slack_app/apps.py
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/__init__.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/__init__.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
  src/firetower/slack_app/urls.py
  src/firetower/slack_app/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add signing_secret to Slack config
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add Datadog metrics instrumentation for slash commands
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add signing_secret to CI config and fix ruff lint
  config.ci.toml
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test values for slack bot
  config.ci.toml
Due: none

tweaks
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename slack app in help command
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove HTTP-based slack event handling in favor of Socket Mode
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_views.py
  src/firetower/slack_app/urls.py
  src/firetower/slack_app/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add app_token config for Slack Socket Mode
  config.ci.toml
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass
