Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Log Linear GraphQL error payload in message so it survives the log formatter
  src/firetower/integrations/services/linear.py
  src/firetower/integrations/tests/test_linear_service.py
Due: pyupgrade, mypy, check-mypy-bypass

Detect Linear issue-not-found via extensions.userPresentableMessage so allocator mints instead of degrading
  src/firetower/integrations/services/linear.py
  src/firetower/integrations/tests/test_linear_service.py
Due: pyupgrade, mypy, check-mypy-bypass

Add pins:write scope to Slack app manifest so incident summary can be pinned
  slack-app-manifest.yaml
Due: none

Add incident recovery sweep, PendingIncident, and inc-tmp fallback naming (RELENG-910)
  src/firetower/incidents/migrations/0023_pendingincident.py
  src/firetower/incidents/migrations/0024_schedule_incident_recovery.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tasks/__init__.py
  src/firetower/incidents/tasks/recovery.py
  src/firetower/incidents/tests/test_recovery.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/tests/handlers/test_new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

Run incident recovery sweep every 5 minutes
  src/firetower/incidents/tasks/__init__.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: detect Linear issue-not-found via extensions.userPresentableMessage (#294)
  src/firetower/integrations/services/linear.py
  src/firetower/integrations/tests/test_linear_service.py
Due: pyupgrade, mypy, check-mypy-bypass

Reapply "feat: read config secrets from env vars with TOML fallback" (#289)
  config.example.toml
  src/firetower/config.py
Due: pyupgrade, mypy, check-mypy-bypass

Validate required secrets from env or config instead of requiring them in TOML
  src/firetower/config.py
  src/firetower/test_config.py
Due: pyupgrade, mypy, check-mypy-bypass

Stub CI pagerduty token and document env-or-config secret sourcing
  config.ci.toml
  config.example.toml
Due: none

Clear ambient secret env vars in config tests so they don't flake on set env
  src/firetower/test_config.py
Due: pyupgrade, mypy, check-mypy-bypass

Consolidate per-field secret comments into one convention block
  src/firetower/config.py
Due: pyupgrade, mypy, check-mypy-bypass

Convert env-override application to a data-driven table
  src/firetower/config.py
Due: pyupgrade, mypy, check-mypy-bypass

Clear PAGERDUTY_ESCALATION_KEY_PROD_ENG in config test fixture
  src/firetower/test_config.py
Due: pyupgrade, mypy, check-mypy-bypass

Clarify PAGERDUTY_ESCALATION_KEY holds the escalation policy's integration key
  src/firetower/config.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: add pins:write scope to Slack app manifest (#295)
  slack-app-manifest.yaml
Due: none

feat: reapply reading config secrets from env vars with TOML fallback (#293)
  config.ci.toml
  config.example.toml
  src/firetower/config.py
  src/firetower/test_config.py
Due: pyupgrade, mypy, check-mypy-bypass

chore(links): Add link item for meeting recordings
  frontend/public/meeting_recording.svg
  frontend/src/routes/$incidentId/components/LinksList.tsx
  src/firetower/incidents/migrations/0023_add_meeting_recording_link_type.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

fix zod stripping
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
Due: eslint, prettier, knip

style: Format migration file with ruff
  src/firetower/incidents/migrations/0023_add_meeting_recording_link_type.py
Due: pyupgrade, mypy, check-mypy-bypass

chore(links): Add link item for meeting recordings (#296)
  frontend/public/meeting_recording.svg
  frontend/src/routes/$incidentId/components/LinksList.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  src/firetower/incidents/migrations/0023_add_meeting_recording_link_type.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Downgrade stray placeholder skip log from error to warning
  src/firetower/incidents/allocation.py
  src/firetower/incidents/tests/test_allocation.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Downgrade stray placeholder skip log from error to warning (#298)
  src/firetower/incidents/allocation.py
  src/firetower/incidents/tests/test_allocation.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(deps): Bump minimum versions for vulnerable dependencies (#277)
  pyproject.toml
  uv.lock
Due: none

fix migration after sync with main
  src/firetower/incidents/migrations/0024_add_feed_message_ts.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: hot-reload config.toml via watchfiles
  pyproject.toml
  src/firetower/config_hooks.py
  src/firetower/config_reload.py
  src/firetower/incidents/apps.py
  src/firetower/settings.py
  src/firetower/test_config_reload.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

refactor: poll+hash config.toml instead of inotify
  pyproject.toml
  src/firetower/config_reload.py
  src/firetower/settings.py
  src/firetower/test_config_reload.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

chore: default config poll interval to 15s and restore uv.lock
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

fix: refresh DB connection handler cache on config reload
  src/firetower/settings.py
  src/firetower/test_config_reload.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: do not re-init Sentry SDK on config reload
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: re-arm config watcher in forked children
  src/firetower/config_reload.py
  src/firetower/test_config_reload.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: make IAP middleware follow hot-reloaded IAP settings
  src/firetower/auth/middleware.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/auth/validators.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: make apply_config atomic on hot reload
  src/firetower/settings.py
  src/firetower/test_config_reload.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add Restart Service workflow
  .github/workflows/restart-service.yml
Due: none

fix: Force new revision name so Restart Service actually restarts
  .github/workflows/restart-service.yml
Due: none

fix: Explicitly route traffic to new revision on restart
  .github/workflows/restart-service.yml
Due: none

fix: Use run_id+run_attempt for revision suffix to survive retries
  .github/workflows/restart-service.yml
Due: none

fix: bust encrypted_fields key cache on SALT_KEY/SECRET_KEY reload
  src/firetower/settings.py
  src/firetower/test_config_reload.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add Restart Service workflow (#300)
  .github/workflows/restart-service.yml
Due: none

Tag Sentry events with the deployment's project key
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Use incident_number instead of a hardcoded INC- prefix in the demo task log
  src/firetower/incidents/tasks/__init__.py
Due: pyupgrade, mypy, check-mypy-bypass
