Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Remove stylelint as we're using tailwind
  .pre-commit-config.yaml
  frontend/package.json
Due: prettier

Add ci job
  .github/workflows/ci.yml
  frontend/src/utils/cn.ts
Due: eslint, prettier, knip

Remove stylelint config as we've removed the dependency
  frontend/stylelint.config.js
Due: eslint, prettier, knip

Remove duplicate tests
  src/firetower/integrations/tests.py
Due: pyupgrade, mypy, check-mypy-bypass

remove unnecessary comment
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix hash
  .github/workflows/ci.yml
Due: none

Update bun.lock
  frontend/bun.lock
Due: none

Fix import in Card.tsx
  frontend/src/components/Card.tsx
Due: eslint, prettier, knip

Simplify CI checks
  .github/workflows/ci.yml
Due: none

Fix eslint warnings
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Pill.tsx
Due: eslint, prettier, knip

format --check flag
  .github/workflows/ci.yml
Due: none

Fix prettierignore
  .prettierignore
  frontend/.prettierignore
Due: none

Fix typescript errors
  frontend/package.json
  frontend/tsconfig.build.json
Due: prettier

Don't build in ci, just type check
  .github/workflows/ci.yml
  frontend/package.json
Due: prettier

Use script
  .github/workflows/ci.yml
Due: none

Update layout to have max-width
  frontend/index.html
  frontend/src/components/Pill.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Pull out IncidentCard to simplify index.tsx route file , clean up card
  frontend/src/components/Pill.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Create tests for IncidentCard/index route generally
  frontend/.env.test
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Address feedback
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Fix EOF
  frontend/index.html
Due: none

Format and fix couple lint errors
  frontend/index.html
  frontend/src/routes/__root.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles/index.css
  frontend/vite.config.ts
Due: eslint, prettier, knip

Remove some comments
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

Fix test
  frontend/src/components/Pill.test.tsx
Due: eslint, prettier, knip

feat: Implement IncidentCard (#11)
  frontend/.env.test
  frontend/index.html
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/src/styles/index.css
  frontend/vite.config.ts
Due: eslint, prettier, knip

[ci] add cloud build config
  cloudbuild.yaml
Due: none

[ci] remove unsupported optimizations from Dockerfile
  Dockerfile
Due: none

[ci] Cloud Build is picky about its Dockerfiles
  Dockerfile
Due: none

[ci] another attempt at appeasing Cloud Build
  Dockerfile
Due: none

Add StatusFilter component
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Fix status filtering to handle multiple statuses
  frontend/src/api.ts
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Add multiple status filtering to backend
  src/firetower/incidents/views.py
  src/firetower/integrations/services/jira.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix test
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

Add tests for StatusFilter.tsx
  frontend/bun.lock
  frontend/package.json
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

Update backend tests
  src/firetower/integrations/test_jira.py
Due: pyupgrade, mypy, check-mypy-bypass

Update error/pending/notfound states and implement Spinner
  frontend/src/components/Spinner.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

