Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Pull filter tests out as well
  src/firetower/incidents/tests/test_filters.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add filtering by tag, status, service tier, captain, and reporter to incident list APIs (#116)
  sdk/src/firetower_sdk/__init__.py
  sdk/src/firetower_sdk/client.py
  sdk/src/firetower_sdk/enums.py
  sdk/tests/test_client.py
  src/firetower/incidents/filters.py
  src/firetower/incidents/tests/test_filters.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Wire all filter params from URL search params through to incidents API
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Extract shared SeveritySchema, ServiceTierSchema, StatusSchema to routes/types.ts
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/src/routes/types.ts
Due: eslint, prettier, knip

Add test for combining params
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

feat: Wire all filter params from URL search params through to incidents API (#118)
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/src/routes/types.ts
Due: eslint, prettier, knip

removed unused import
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

added incident captain to incident list views
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/incidents/serializers.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add Roboto Mono font files and @font-face declarations
  frontend/public/fonts/roboto-mono-medium.woff2
  frontend/public/fonts/roboto-mono-regular.woff2
  frontend/src/styles/index.css
Due: prettier

Add availability page with region heatmap cards and incident list links
  frontend/src/routes/availability/components/HeatmapBar.tsx
  frontend/src/routes/availability/components/PeriodTabs.tsx
  frontend/src/routes/availability/components/RegionCard.tsx
  frontend/src/routes/availability/index.tsx
  frontend/src/routes/availability/utils.ts
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Add Any status filter for frontend inc list view
  frontend/src/routes/availability/components/HeatmapBar.tsx
  src/firetower/incidents/filters.py
  src/firetower/incidents/tests/test_filters.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add pinned regions via config
  src/firetower/config.py
  src/firetower/incidents/utils.py
  src/firetower/incidents/views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove dead code
  frontend/src/routes/availability/components/AvailabilityCell.tsx
  frontend/src/routes/availability/components/PeriodTab.tsx
  frontend/src/routes/availability/components/RegionTable.tsx
Due: eslint, prettier, knip

Fix bugs
  frontend/src/routes/$incidentId/components/DowntimeField.tsx
  src/firetower/incidents/reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix more bugs
  frontend/src/styles/index.css
  src/firetower/incidents/reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass, prettier

Fix rounding
  frontend/src/routes/availability/components/HeatmapBar.tsx
Due: eslint, prettier, knip

Add tests for reporting_utils
  src/firetower/incidents/reporting_utils.py
  src/firetower/incidents/tests/test_reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove default number input up and down arrows
  frontend/src/styles/index.css
Due: prettier

fix: Hide up and down arrows on default number inputs (downtime input) (#121)
  frontend/src/styles/index.css
Due: prettier

Add users list endpoint
  src/firetower/auth/serializers.py
  src/firetower/auth/tests/test_views.py
  src/firetower/auth/urls.py
  src/firetower/auth/views.py
Due: pyupgrade, mypy, check-mypy-bypass

moved incident capatin in list view to lower div
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/incidents/serializers.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

moved captain to lower div
  frontend/src/routes/components/IncidentCard.tsx
  scripts/import_jira_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

removed script from another branch
  scripts/import_jira_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

scrit to import jira tickets into firetower. also removed id check
  scripts/import_jira_incidents.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix N+1 query on userprofile in user list view
  src/firetower/auth/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Support full name search in user list endpoint
  src/firetower/auth/tests/test_views.py
  src/firetower/auth/views.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add users list endpoint (#122)
  src/firetower/auth/serializers.py
  src/firetower/auth/tests/test_views.py
  src/firetower/auth/urls.py
  src/firetower/auth/views.py
Due: pyupgrade, mypy, check-mypy-bypass

removed incident counter. the script should map jira ids directly if possible and never auto increment to keep them consistent
  scripts/import_jira_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

formatted import script
  scripts/import_jira_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

Tweak availability view to be more compact
  frontend/src/routes/availability/components/HeatmapBar.tsx
  frontend/src/routes/availability/components/PeriodLabels.tsx
  frontend/src/routes/availability/components/RegionCard.tsx
  frontend/src/routes/availability/components/RegionRow.tsx
  frontend/src/routes/availability/index.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Register pt-space and pb-space classes in tailwind-merge config
  frontend/src/utils/cn.ts
Due: eslint, prettier, knip

Address Bugbot feedback: fix CSS ordering, tailwind-merge config, and React keys
  frontend/src/routes/availability/components/PeriodLabels.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Remove unused label field from HeatmapBlock
  frontend/src/routes/availability/components/HeatmapBar.tsx
  frontend/src/routes/availability/components/RegionRow.tsx
Due: eslint, prettier, knip

feat: Compact availability page layout (#125)
  frontend/src/routes/availability/components/HeatmapBar.tsx
  frontend/src/routes/availability/components/PeriodLabels.tsx
  frontend/src/routes/availability/components/RegionCard.tsx
  frontend/src/routes/availability/components/RegionRow.tsx
  frontend/src/routes/availability/index.tsx
  frontend/src/styles/index.css
  frontend/src/utils/cn.ts
Due: eslint, prettier, knip

Add advanced filtering UI for incident list
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/DateFilter.tsx
  frontend/src/routes/components/MultiSelectFilter.tsx
  frontend/src/routes/components/TextInputFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Fix import paths in AdvancedFilters to use relative imports
  frontend/src/routes/components/AdvancedFilters.tsx
Due: eslint, prettier, knip

Create filters layout
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/DateFilter.tsx
  frontend/src/routes/components/MultiSelectFilter.tsx
  frontend/src/routes/components/TextInputFilter.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Add filter panel with severity, service tier, and tag filters
  frontend/src/components/MultiSelect.tsx
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/useActiveFilters.ts
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Defer filter param updates until edit close, add All status tab
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/types.ts
Due: eslint, prettier, knip
