Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Remove HSTS settings, handled by IAP/Cloud Run
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix example config base URL back to localhost
  config.example.toml
Due: none

Fix CI config base URL back to localhost
  config.ci.toml
Due: none

Remove temporary jira migration endpoint
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

chore: Remove temporary jira migration endpoint (#147)
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add advanced filtering UI for incident list
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/DateFilter.tsx
  frontend/src/routes/components/MultiSelectFilter.tsx
  frontend/src/routes/components/TextInputFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Fix import paths in AdvancedFilters to use relative imports
  frontend/src/routes/components/AdvancedFilters.tsx
Due: eslint, prettier, knip

Create filters layout
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/DateFilter.tsx
  frontend/src/routes/components/MultiSelectFilter.tsx
  frontend/src/routes/components/TextInputFilter.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Add filter panel with severity, service tier, and tag filters
  frontend/src/components/MultiSelect.tsx
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/useActiveFilters.ts
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Defer filter param updates until edit close, add All status tab
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/types.ts
Due: eslint, prettier, knip

Add captain and reporter filters with server-side user search
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/usersQueryOptions.ts
Due: eslint, prettier, knip

Add date range filter with responsive grid layout
  frontend/src/routes/components/AdvancedFilters.tsx
Due: eslint, prettier, knip

Refactor filter components
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/filters/DateRangeFilter.tsx
  frontend/src/routes/components/filters/FilterTrigger.tsx
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

Reset all params instead of explicitly setting everything to undefined
  frontend/src/routes/components/filters/FilterTrigger.tsx
Due: eslint, prettier, knip

Use IncidentStatus type instead of string[]
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/types.ts
Due: eslint, prettier, knip

Add some filter tests
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

Fix space key hijacking search input, remove unused MultiSelect
  frontend/src/components/MultiSelect.tsx
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

Pull shared editor code out to a hook
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
  frontend/src/routes/components/filters/useFilterEditor.ts
Due: eslint, prettier, knip

Use ref to access draft state in close callback
  frontend/src/routes/components/filters/useFilterEditor.ts
Due: eslint, prettier, knip

Remove unused exports from useActiveFilters
  frontend/src/routes/components/useActiveFilters.ts
Due: eslint, prettier, knip

Separate StatusFilterValue from IncidentStatus
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/types.ts
Due: eslint, prettier, knip

Improve advanced filter UX: always-visible X buttons, click-to-edit, unselectable text
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
  frontend/src/routes/components/filters/useFilterEditor.ts
Due: eslint, prettier, knip

fix: Remove wildcard CSRF origin and add production security settings (#145)
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add explanation tooltip for availability calculation
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

Fix pencil icon visibility delay when opening filter edit mode
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

Refactor DateRangeFilter to use Tag component with inline close buttons
  frontend/src/routes/components/filters/DateRangeFilter.tsx
Due: eslint, prettier, knip

Stabilize useFilterEditor callbacks and remove dead code in useActiveFilters
  frontend/src/routes/components/filters/useFilterEditor.ts
  frontend/src/routes/components/useActiveFilters.ts
Due: eslint, prettier, knip

feat: Add availability explanation tooltip with spacing and downtime note
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

Show tooltip on hover instead of click
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

Update month to time period in attribution text
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

Clean up tooltip timeout on unmount
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

Use radix tooltip primitive for availability explanation
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Tooltip.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/availability/components/AvailabilityTooltip.tsx
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

Remove broken animation classes from Tooltip component
  frontend/src/components/Tooltip.tsx
Due: eslint, prettier, knip

feat: Add explanation tooltip for availability calculation (#148)
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Tooltip.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/availability/components/AvailabilityTooltip.tsx
  frontend/src/routes/availability/index.tsx
Due: eslint, prettier, knip

changed pinned_regions to region_groupings and made the availability screen to only display what's defined, if it's been set
  config.ci.toml
  frontend/src/routes/availability/components/PeriodLabels.tsx
  frontend/src/routes/availability/index.tsx
  frontend/src/routes/availability/queries/availabilityQueryOptions.ts
  src/firetower/config.py
  src/firetower/incidents/reporting_utils.py
  src/firetower/incidents/tests/test_reporting_utils.py
  src/firetower/incidents/tests/test_utils.py
  src/firetower/incidents/utils.py
  src/firetower/incidents/views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix year periods test count expectation
  src/firetower/incidents/tests/test_reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass

changed number of years back to 3
  src/firetower/incidents/reporting_utils.py
Due: pyupgrade, mypy, check-mypy-bypass

made list of string lists more obvious and removed used of any
  src/firetower/config.py
  src/firetower/incidents/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

need clearer list of list stirngs
  src/firetower/config.py
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

