Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Add captain and reporter filters with server-side user search
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/usersQueryOptions.ts
Due: eslint, prettier, knip

Add date range filter with responsive grid layout
  frontend/src/routes/components/AdvancedFilters.tsx
Due: eslint, prettier, knip

Refactor filter components
  frontend/src/routes/components/AdvancedFilters.tsx
  frontend/src/routes/components/filters/DateRangeFilter.tsx
  frontend/src/routes/components/filters/FilterTrigger.tsx
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

Reset all params instead of explicitly setting everything to undefined
  frontend/src/routes/components/filters/FilterTrigger.tsx
Due: eslint, prettier, knip

Use IncidentStatus type instead of string[]
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/types.ts
Due: eslint, prettier, knip

Add some filter tests
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

Fix space key hijacking search input, remove unused MultiSelect
  frontend/src/components/MultiSelect.tsx
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

Pull shared editor code out to a hook
  frontend/src/routes/components/filters/PillFilter.tsx
  frontend/src/routes/components/filters/TagFilter.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
  frontend/src/routes/components/filters/useFilterEditor.ts
Due: eslint, prettier, knip

Align frontend and backend availability impacting filters
  frontend/src/routes/availability/components/HeatmapBar.tsx
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Use enum
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack-bolt dependency
  pyproject.toml
  uv.lock
Due: none

Add signing_secret to Slack config
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack_app Django app with Bolt wiring and /inc help command
  src/firetower/slack_app/__init__.py
  src/firetower/slack_app/apps.py
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/__init__.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/__init__.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
  src/firetower/slack_app/urls.py
  src/firetower/slack_app/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add Datadog metrics instrumentation for slash commands
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add signing_secret to CI config and fix ruff lint
  config.ci.toml
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test values for slack bot
  config.ci.toml
Due: none

Fix TZ warnings
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

tweaks
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename slack app in help command
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove HTTP-based slack event handling in favor of Socket Mode
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_views.py
  src/firetower/slack_app/urls.py
  src/firetower/slack_app/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add app_token config for Slack Socket Mode
  config.ci.toml
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add run_slack_bot management command and Docker entrypoint
  docker/entrypoint.sh
  src/firetower/slack_app/management/__init__.py
  src/firetower/slack_app/management/commands/__init__.py
  src/firetower/slack_app/management/commands/run_slack_bot.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack bot deploy step to GitHub Actions
  .github/workflows/deploy.yml
Due: none

Mock Slack auth_test in tests instead of disabling token verification
  src/firetower/slack_app/tests/conftest.py
Due: pyupgrade, mypy, check-mypy-bypass

Add health check server for Cloud Run TCP startup probe
  src/firetower/slack_app/management/commands/run_slack_bot.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Align heatmap link filters with availability calculation (#129)
  frontend/src/routes/availability/components/HeatmapBar.tsx
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix impact_type tag name to lowercase availability
  frontend/src/routes/availability/components/HeatmapBar.tsx
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

fix: Use lowercase availability impact_type tag name (#130)
  frontend/src/routes/availability/components/HeatmapBar.tsx
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

ci: Add Warden for automated PR code review (#112)
  .github/workflows/warden.yml
  .gitignore
  warden.toml
Due: none

Add slack app manifest
  slack-app-manifest.yaml
Due: none
