Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


feat: Make Captain/Reporter role selectors searchable (#103)
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Add some more debug logging
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Try explicit join channel
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert explicit join, shouldn't need was bug
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix bugs and make tweaks
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Strip query params from IAP audience in SDK
  sdk/src/firetower_sdk/auth.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Strip query params off of url before use as JWT audience for IAP auth (#105)
  sdk/src/firetower_sdk/auth.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert "fix: Strip query params off of url before use as JWT audience for IAP auth (#105)"
  sdk/src/firetower_sdk/auth.py
Due: pyupgrade, mypy, check-mypy-bypass

Revert "fix: Strip query params off of url before use as JWT audience for IAP auth (#105)" (#106)
  sdk/src/firetower_sdk/auth.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Strip query params off of url before use as JWT audience for IAP auth (#107)
  sdk/src/firetower_sdk/auth.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove captain/reporter dropdown tab index
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

fix scroll as tags in list are focused
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Tweak approach to prevent unnecessary code execution
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

added downtime minutes; availability view; updated some colors
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/availability/index.tsx
  frontend/src/routes/availability/queries/availabilityQueryOptions.ts
  frontend/src/routes/components/Header.tsx
  frontend/src/styles/index.css
  frontend/src/utils/downtime.test.ts
  frontend/src/utils/downtime.ts
  requirements-dev.lock
  requirements.lock
  src/firetower/incidents/management/__init__.py
  src/firetower/incidents/management/commands/__init__.py
  src/firetower/incidents/management/commands/seed_dev_data.py
  src/firetower/incidents/migrations/0007_add_total_downtime.py
  src/firetower/incidents/migrations/0008_seed_region_tags.py
  src/firetower/incidents/migrations/0014_merge_20260220_0555.py
  src/firetower/incidents/migrations/0015_seed_affected_region_tags.py
  src/firetower/incidents/migrations/0016_seed_impact_type_tags.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_downtime_serializers.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add slack-bolt dependency
  pyproject.toml
  uv.lock
Due: none

Add signing_secret to Slack config
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add slack_app Django app with Bolt wiring and /inc help command
  src/firetower/slack_app/__init__.py
  src/firetower/slack_app/apps.py
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/__init__.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/__init__.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
  src/firetower/slack_app/urls.py
  src/firetower/slack_app/views.py
  src/firetower/urls.py
Due: pyupgrade, mypy, check-mypy-bypass

Add Datadog metrics instrumentation for slash commands
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add signing_secret to CI config and fix ruff lint
  config.ci.toml
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/block_kits.py
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test values for slack bot
  config.ci.toml
Due: none

Fix TZ warnings
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

tweaks
  src/firetower/slack_app/authentication.py
  src/firetower/slack_app/tests/test_handlers.py
  src/firetower/slack_app/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename slack app in help command
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/test_handlers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add warden and some skills
  .github/workflows/warden.yml
  .gitignore
  warden.toml
Due: none

Pin action versions to commit SHAs
  .github/workflows/warden.yml
Due: none

updated code to pass test and address sentry bot bug
  src/firetower/incidents/management/commands/seed_dev_data.py
  src/firetower/incidents/tests/test_downtime_serializers.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

fixes for frontend tests
  frontend/src/components/Pill.test.tsx
  frontend/src/routes/availability/index.tsx
  frontend/src/routes/components/Header.tsx
  src/firetower/incidents/management/commands/seed_dev_data.py
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Commit AGENTS.md
  AGENTS.md
Due: none

chore: Commit AGENTS.md (#113)
  AGENTS.md
Due: none

more fixes from the tests; removed unnecessary seed migrations
  src/firetower/incidents/management/commands/seed_dev_data.py
  src/firetower/incidents/migrations/0007_add_total_downtime.py
  src/firetower/incidents/migrations/0008_seed_region_tags.py
  src/firetower/incidents/migrations/0014_merge_20260220_0555.py
  src/firetower/incidents/migrations/0015_seed_affected_region_tags.py
  src/firetower/incidents/migrations/0016_seed_impact_type_tags.py
  src/firetower/incidents/migrations/0017_add_total_downtime.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

fixed more checks and test failures
  frontend/src/components/Card.test.tsx
  frontend/src/components/ConfirmationDialog.test.tsx
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/EditableTags.test.tsx
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
  frontend/src/routes/availability/index.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/utils/downtime.test.ts
  frontend/src/utils/downtime.ts
  frontend/utils/testing-library.ts
  src/firetower/incidents/management/commands/seed_dev_data.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

final checks to pass I hope
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

reverted pill ui changes
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Pill.tsx
Due: eslint, prettier, knip

reverted pill cancelled deletion
  frontend/src/components/Pill.tsx
Due: eslint, prettier, knip

reverted local prettier changes
  frontend/src/components/Card.test.tsx
  frontend/src/components/ConfirmationDialog.test.tsx
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/EditableTags.test.tsx
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.test.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/utils/testing-library.ts
Due: eslint, prettier, knip

restoring unecessary claude changes
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTags.tsx
  requirements-dev.lock
  requirements.lock
Due: eslint, prettier, knip

added the total_downtime field to the incident model and made it available in the UI to update
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/migrations/0014_add_total_downtime.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

added availability view
  frontend/src/routeTree.gen.ts
  frontend/src/routes/availability/index.tsx
  frontend/src/routes/availability/queries/availabilityQueryOptions.ts
  frontend/src/routes/components/Header.tsx
  frontend/src/styles/index.css
  src/firetower/incidents/models.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

fix for why saves were having errors
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

fixed formatting issues
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  src/firetower/incidents/migrations/0014_add_total_downtime.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip
