Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Handle blank Firetower MCP API URL
  sdk/src/firetower_sdk/utils.py
  sdk/tests/test_utils.py
  src/firetower/mcp_server/config.py
  src/firetower/mcp_server/tests/test_config.py
Due: pyupgrade, mypy, check-mypy-bypass

Decouple MCP test deploy from database migrations
  .github/workflows/deploy.yml
Due: none

feat(ui): Add button to create incident
  frontend/src/routes/components/CreateIncidentDialog.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/createIncidentMutationOptions.ts
Due: eslint, prettier, knip

fix: Optimize N+1 queries in Slack incident participant sync
  src/firetower/auth/services.py
  src/firetower/incidents/services.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(reminders): Add reminder for inactive still open incidents
  src/firetower/config.py
  src/firetower/incidents/migrations/0024_schedule_stale_incident_reminder.py
  src/firetower/incidents/tasks/__init__.py
  src/firetower/incidents/tasks/slack_activity.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/tests/test_slack.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fixes for bot comments
  src/firetower/incidents/migrations/0024_schedule_stale_incident_reminder.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tasks/slack_activity.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/tests/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

fixes pass 2
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

style: Fix ruff formatting in slack.py
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(reminders): Address PR review feedback for stale reminder task
  src/firetower/incidents/tasks/slack_activity.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Preserve partial results on thread reply pagination failure
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Call triage bot with alert
  config.example.toml
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/settings.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

make prompt configurable
  config.example.toml
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

review fixes
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

simpler prompt
  config.example.toml
  src/firetower/config.py
Due: pyupgrade, mypy, check-mypy-bypass

don't invite to private channels
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

address invite comment
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

style(slack): Fix ruff formatting for triage bot invite
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

make sure triage bot is always invited
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

chore: Don't make interacting with is_archived channels an error
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

Handle malformed timeline event payloads
  src/firetower/incidents/tests/test_timeline.py
  src/firetower/incidents/timeline/render.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add Firetower MCP server (#311)
  .env.mcp.example
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  docker/entrypoint.sh
  docker/mcp.Dockerfile
  pyproject.toml
  sdk/src/firetower_sdk/utils.py
  sdk/tests/test_utils.py
  src/firetower/mcp_server/__init__.py
  src/firetower/mcp_server/auth.py
  src/firetower/mcp_server/config.py
  src/firetower/mcp_server/firetower.py
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/__init__.py
  src/firetower/mcp_server/tests/test_auth.py
  src/firetower/mcp_server/tests/test_config.py
  src/firetower/mcp_server/tests/test_server.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Anonymize timeline test actor
  frontend/src/routes/$incidentId/components/IncidentTimeline.test.tsx
Due: eslint, prettier, knip

Support pytest-django 4.14 settings fixture
  src/conftest.py
Due: pyupgrade, mypy, check-mypy-bypass

Use pytest-django settings type
  src/conftest.py
Due: pyupgrade, mypy, check-mypy-bypass

chore: Don't make interacting with is_archived channels an error (#319)
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Send priority changes to the notification channel
  src/firetower/incidents/hooks.py
  src/firetower/incidents/migrations/0023_add_feed_message_ts.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/tests/test_slack.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(tests): Prevent settings.SLACK dict mutation leak across tests
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix migration after sync with main
  src/firetower/incidents/migrations/0024_add_feed_message_ts.py
Due: pyupgrade, mypy, check-mypy-bypass

pr comment fixes
  src/firetower/incidents/hooks.py
  src/firetower/integrations/services/slack.py
  src/firetower/slack_app/handlers/new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

llm fixes
  frontend/src/routes/components/CreateIncidentDialog.test.tsx
  frontend/src/routes/components/CreateIncidentDialog.tsx
Due: eslint, prettier, knip

ref: Inset action item status bars (#310)
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
Due: eslint, prettier, knip

feat: Add incident lifecycle timeline (#312)
  frontend/src/routes/$incidentId/components/IncidentTimeline.test.tsx
  frontend/src/routes/$incidentId/components/IncidentTimeline.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentTimelineQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/migrations/0024_timeline_event.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_timeline.py
  src/firetower/incidents/timeline/__init__.py
  src/firetower/incidents/timeline/events.py
  src/firetower/incidents/timeline/render.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
  src/firetower/slack_app/handlers/backfill_incident.py
  src/firetower/slack_app/handlers/cancel.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/tests/handlers/test_backfill_incident.py
  src/firetower/slack_app/tests/handlers/test_cancel.py
  src/firetower/slack_app/tests/handlers/test_new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Move timeline below action items
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

fix: Move timeline below action items (#331)
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

fix comments
  frontend/src/routes/components/CreateIncidentDialog.test.tsx
  frontend/src/routes/components/CreateIncidentDialog.tsx
  frontend/src/routes/index.tsx
  uv.lock
Due: eslint, prettier, knip

fix lock issue
  frontend/src/routes/components/CreateIncidentDialog.tsx
Due: eslint, prettier, knip

feat(ui): Add button to create incident (#313)
  frontend/src/routes/components/CreateIncidentDialog.test.tsx
  frontend/src/routes/components/CreateIncidentDialog.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/createIncidentMutationOptions.ts
  uv.lock
Due: eslint, prettier, knip

Mirror Linear ticket status to incidents
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Map postmortems to Linear review
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/integrations/services/linear.py
Due: pyupgrade, mypy, check-mypy-bypass

Target explicit Linear workflow states
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

