Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Add milestone timestamps to incident model
  src/firetower/incidents/migrations/0006_add_milestone_timestamps.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Update serializers/views/zod schemas
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix migration conflict
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
Due: pyupgrade, mypy, check-mypy-bypass

Add impact_tags and rename impact -> impact_summary
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add Impact to inc details
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add basic milestone list component
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Add Milestones section
  frontend/src/components/DateTimePicker.tsx
  frontend/src/components/EditableDateTimeField.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/index.tsx
  src/firetower/incidents/admin.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Tweak things across details page
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/components/IncidentCard.tsx
Due: eslint, prettier, knip

Rename Impact to Impact type
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add date defaulting logic
  frontend/src/components/DateTimePicker.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  src/firetower/auth/admin.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Separate date and time state for cleaner default date
  frontend/src/components/DateTimePicker.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
Due: eslint, prettier, knip

Add comment about default date logic
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
Due: eslint, prettier, knip

Fix EditableDateTimeField to use new DateTimePicker API
  frontend/src/components/EditableDateTimeField.tsx
Due: eslint, prettier, knip

feat: Add milestone timestamps to incidents (#70)
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/components/DateTimePicker.tsx
  frontend/src/components/EditableDateTimeField.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTags.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/components/MilestonesCard.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/auth/admin.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Increase time input width to accommodate 12 hour and 24 hour time.
  frontend/src/components/DateTimePicker.tsx
Due: eslint, prettier, knip

read config / secrets from config file, not env
  config.example.toml
  pyproject.toml
  src/firetower/config.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

update ignores
  .cursorignore
Due: none

use dummy config for collectstatic and mypy, fix tests
  .github/workflows/ci.yml
  config.ci.toml
  src/firetower/config.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

add note to README
  README.md
Due: none

Fix placeholder styling and add label for Description field
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

feat: Increase time input width for 12-hour format (#76)
  frontend/src/components/DateTimePicker.tsx
Due: eslint, prettier, knip

chore: Fix placeholder styling and add Description label (#78)
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Coerce string status param into array for zod parser (manual user input)
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Don't crash on invalid input, just let the API return nothing.
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Disable browsable API
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix oops
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Move env vars to config file (#77)
  .cursorignore
  .github/workflows/ci.yml
  README.md
  config.ci.toml
  config.example.toml
  pyproject.toml
  src/firetower/config.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Add table storing next inc id that is lockable to ensure clean single id increments over postgres auto field
  src/firetower/incidents/migrations/0008_gapless_incident_ids.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Query param parsing sentry errors and disable browsable API (#79)
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add self-healing for missing IncidentCounter row
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix race condition in IncidentCounter self-healing
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: INC id increments have gaps (#80)
  src/firetower/incidents/migrations/0008_gapless_incident_ids.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename affected_area tag type to affected_service
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0008_rename_affected_area_to_affected_service.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add affected_region tag type
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/tagsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0009_add_affected_region_tags.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Make tags sorted before save
  frontend/src/components/EditableTags.tsx
Due: eslint, prettier, knip

Update test fixtures for affected_service_tags rename
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
  frontend/src/routes/components/Header.test.tsx
Due: eslint, prettier, knip

Fix outdated docstring example in TagListCreateAPIView
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test for affected_region_tags PATCH
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix tags not being saved on incident creation
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

