Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Log incident context when setting the Linear parent state fails
  src/firetower/incidents/services.py
Due: pyupgrade, mypy, check-mypy-bypass

Add test for the Linear parent state failure warning
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Add project key to Sentry tags and Linear parent failure logs (#301)
  src/firetower/incidents/services.py
  src/firetower/incidents/tasks/__init__.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Upgrade ddtrace security dependency
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

fix: Upgrade ddtrace security dependency (#309)
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

Upgrade Firetower dependencies and ddtrace
  .github/workflows/ci.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  sdk/uv.lock
  uv.lock
Due: prettier

Inset action item status bars
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
Due: eslint, prettier, knip

Order action item utility classes
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
Due: eslint, prettier, knip

Migrate GenAI timeline generation from Vertex Gemini to the OpenRouter client SDK
  config.example.toml
  pyproject.toml
  src/firetower/config.py
  src/firetower/integrations/services/genai.py
  src/firetower/integrations/tests/test_genai.py
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Address dualreview findings: assert ZDR routing, cover from_settings, hoist default model constant
  config.example.toml
  src/firetower/integrations/services/genai.py
  src/firetower/integrations/tests/test_genai.py
Due: pyupgrade, mypy, check-mypy-bypass

Add OpenRouter API key environment override
  config.example.toml
  src/firetower/config.py
  src/firetower/test_config.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: migrate GenAI timeline generation to the OpenRouter SDK (#285)
  config.example.toml
  pyproject.toml
  src/firetower/config.py
  src/firetower/integrations/services/genai.py
  src/firetower/integrations/tests/test_genai.py
  src/firetower/settings.py
  src/firetower/test_config.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Add read-only firetower MCP server with Google Workspace-gated OAuth
  .env.mcp.example
  pyproject.toml
  src/firetower/mcp_server/__init__.py
  src/firetower/mcp_server/auth.py
  src/firetower/mcp_server/config.py
  src/firetower/mcp_server/firetower.py
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/__init__.py
  src/firetower/mcp_server/tests/test_auth.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Add firetower MCP server design notes
  notes/firetower-mcp-design.md
Due: none

Add Cloud Run deploy wiring for the firetower MCP server
  .github/workflows/deploy.yml
  docker/backend.Dockerfile
  docker/entrypoint.sh
Due: none

Update firetower MCP server design notes
  notes/firetower-mcp-design.md
Due: none

Harden firetower MCP server auth and tool error handling per review
  .env.mcp.example
  src/firetower/mcp_server/auth.py
  src/firetower/mcp_server/config.py
  src/firetower/mcp_server/firetower.py
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/test_auth.py
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Add per-user audit logging to firetower MCP tools
  src/firetower/mcp_server/auth.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Gate MCP service deploys to MCP-path changes
  .github/workflows/deploy.yml
Due: none

Track latest fastmcp via Dependabot instead of pinning
  .github/dependabot.yml
  pyproject.toml
  uv.lock
Due: none

Fold grill resolutions into MCP design doc
  notes/firetower-mcp-design.md
Due: none

Remove production MCP deployment
  .github/workflows/deploy.yml
Due: none

Test rejection of non-RS256 Google tokens
  src/firetower/mcp_server/tests/test_auth.py
Due: pyupgrade, mypy, check-mypy-bypass

Verify generic native MCP OAuth callbacks
  .env.mcp.example
  notes/firetower-mcp-design.md
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/test_server.py
Due: pyupgrade, mypy, check-mypy-bypass

Add an unauthenticated MCP health endpoint
  notes/firetower-mcp-design.md
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/test_server.py
Due: pyupgrade, mypy, check-mypy-bypass

Add a dedicated MCP deployment image
  .env.mcp.example
  .github/workflows/deploy.yml
  docker/entrypoint.sh
  docker/mcp.Dockerfile
  notes/firetower-mcp-design.md
Due: none

Rename the test MCP hostname
  .env.mcp.example
  notes/firetower-mcp-design.md
  src/firetower/mcp_server/tests/test_server.py
Due: pyupgrade, mypy, check-mypy-bypass

Correct the MCP Terraform design notes
  notes/firetower-mcp-design.md
Due: none

Install MCP dependencies for backend tests
  .github/workflows/ci.yml
Due: none

Request Google email scope for MCP OAuth
  src/firetower/mcp_server/server.py
  src/firetower/mcp_server/tests/test_server.py
Due: pyupgrade, mypy, check-mypy-bypass

Add TimelineEvent model and migration
  src/firetower/incidents/migrations/0024_timeline_event.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Add timeline recording helpers and lifecycle persistence
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_timeline.py
  src/firetower/incidents/timeline/__init__.py
  src/firetower/incidents/timeline/events.py
  src/firetower/slack_app/handlers/backfill_incident.py
  src/firetower/slack_app/handlers/cancel.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/tests/handlers/test_backfill_incident.py
  src/firetower/slack_app/tests/handlers/test_cancel.py
  src/firetower/slack_app/tests/handlers/test_new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

Add timeline renderer and read endpoint
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_timeline.py
  src/firetower/incidents/timeline/render.py
  src/firetower/incidents/urls.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Add incident timeline query and component
  frontend/src/routes/$incidentId/components/IncidentTimeline.test.tsx
  frontend/src/routes/$incidentId/components/IncidentTimeline.tsx
  frontend/src/routes/$incidentId/queries/incidentTimelineQueryOptions.ts
Due: eslint, prettier, knip

Show timeline on incident detail
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

Hide timeline avatars from assistive technology
  frontend/src/routes/$incidentId/components/IncidentTimeline.test.tsx
  frontend/src/routes/$incidentId/components/IncidentTimeline.tsx
Due: eslint, prettier, knip

Refresh timeline after incident updates
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Use canonical incident IDs for timeline refreshes
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
Due: eslint, prettier, knip

Remove outdated Firetower MCP design document
  notes/firetower-mcp-design.md
Due: none

Validate Firetower MCP incident IDs
  src/firetower/mcp_server/tests/test_tools.py
  src/firetower/mcp_server/tools.py
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

