Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

Add missed migration
  src/firetower/auth/migrations/0004_alter_externalprofile_type.py
Due: pyupgrade, mypy, check-mypy-bypass

Tweak codecov config
  codecov.yml
Due: none

Remove username override logic from before username=email
  src/firetower/incidents/admin.py
Due: pyupgrade, mypy, check-mypy-bypass

move metrics code into incidents app
  src/firetower/incidents/metrics/__init__.py
  src/firetower/incidents/metrics/middleware.py
  src/firetower/incidents/metrics/tests/__init__.py
  src/firetower/incidents/metrics/tests/test_metrics.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add basic Datadog metrics for Django (#67)
  src/firetower/incidents/metrics/__init__.py
  src/firetower/incidents/metrics/middleware.py
  src/firetower/incidents/metrics/tests/__init__.py
  src/firetower/incidents/metrics/tests/test_metrics.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Remove broken label_from_instance admin override (#69)
  src/firetower/incidents/admin.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Remove ACTIONS_PENDING status for incidents (#68)
  codecov.yml
  frontend/src/components/EditablePill.test.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  frontend/src/routes/types.ts
  src/firetower/auth/migrations/0004_alter_externalprofile_type.py
  src/firetower/incidents/migrations/0006_remove_actions_pending_status.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add milestone timestamps to incident model
  src/firetower/incidents/migrations/0006_add_milestone_timestamps.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Update serializers/views/zod schemas
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Fix migration conflict
  src/firetower/incidents/migrations/0007_add_milestone_timestamps.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add inline editing for captain and reporter roles (#64)
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/EditablePill.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.test.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/$incidentId/queries/updateIncidentFieldMutationOptions.ts
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Tweak pill colours
  frontend/src/components/Pill.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

select-none
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Min height for participant
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
Due: eslint, prettier, knip

Use gray for p4 instead of purple matching p3
  frontend/src/components/Pill.tsx
Due: eslint, prettier, knip

ref: Update pill colors (#71)
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/components/EditablePill.tsx
  frontend/src/components/EditableTextField.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/OverflowMenu.tsx
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

event logging for migrations
  manage.py
Due: pyupgrade, mypy, check-mypy-bypass

import, fix signals
  src/firetower/incidents/apps.py
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

no print
  src/firetower/incidents/apps.py
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

add source tag
  manage.py
Due: pyupgrade, mypy, check-mypy-bypass

fix missing title
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

debug
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

debugging
  manage.py
Due: pyupgrade, mypy, check-mypy-bypass

try again, but this time with signals
  manage.py
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

don't log unless there's actually a migration to run
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

don't mutate tags
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

Log Migrations to Datadog Event (#72)
  src/firetower/incidents/apps.py
  src/firetower/incidents/metrics/migrations.py
Due: pyupgrade, mypy, check-mypy-bypass

Allow IAP requests to skip CSRF, harden CORS controls
  src/firetower/auth/middleware.py
  src/firetower/auth/tests/test_iap_auth.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add logging to CSRF middleware for debugging
  src/firetower/auth/middleware.py
Due: pyupgrade, mypy, check-mypy-bypass

Add logging config to enable INFO level logs
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Disable DRF SessionAuthentication to fix CSRF for service calls
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add debug logging to permission check
  src/firetower/incidents/permissions.py
Due: pyupgrade, mypy, check-mypy-bypass

Add DRF authentication class to bridge IAP middleware user
  src/firetower/auth/authentication.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Make is_private optional on incident POST endpoint
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove debug logging from CSRF and permissions
  src/firetower/auth/middleware.py
  src/firetower/incidents/permissions.py
Due: pyupgrade, mypy, check-mypy-bypass

Make incident ID parsing case-insensitive
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass

Preserve newlines in multiline text display
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Add placeholder prop for empty state in EditableTextField
  frontend/src/components/EditableTextField.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

