Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


feat(statuspage): add region hint to statuspage modal message field
  src/firetower/slack_app/handlers/statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(statuspage): reword region hint in statuspage modal
  src/firetower/slack_app/handlers/statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(statuspage): add region hint to statuspage modal message field (#257)
  src/firetower/slack_app/handlers/statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(statuspage): use US instead of US1 in region hint
  src/firetower/slack_app/handlers/statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(statuspage): use US instead of US1 in region hint (#258)
  src/firetower/slack_app/handlers/statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

ruff fixes
  src/firetower/slack_app/handlers/statuspage.py
  src/firetower/slack_app/tests/handlers/test_statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

Add Slack handler to reset manual incident-channel topic changes
  slack-app-manifest.yaml
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/topic_guard.py
  src/firetower/slack_app/tests/test_topic_guard.py
Due: pyupgrade, mypy, check-mypy-bypass

Escape user-supplied topic text in topic-reset ephemeral
  src/firetower/slack_app/handlers/topic_guard.py
  src/firetower/slack_app/tests/test_topic_guard.py
Due: pyupgrade, mypy, check-mypy-bypass

Harden topic guard with firehose no-op, Slack retry dedup, and thread-safe cache
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/topic_guard.py
  src/firetower/slack_app/tests/test_topic_guard.py
Due: pyupgrade, mypy, check-mypy-bypass

Drop dead Socket Mode retry-header check from topic guard
  src/firetower/slack_app/handlers/topic_guard.py
  src/firetower/slack_app/tests/test_topic_guard.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix /ft captain usage hint in topic-reset ephemeral
  src/firetower/slack_app/handlers/topic_guard.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Reset manual topic changes in incident channels (#260)
  slack-app-manifest.yaml
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/topic_guard.py
  src/firetower/slack_app/tests/test_topic_guard.py
Due: pyupgrade, mypy, check-mypy-bypass

Only auto-complete the Linear parent issue when resolved, never re-open it
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

Make Linear parent description accurate, drop dead started-comment path, and sync assignee only on captain change
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove sentence from linear comment
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix Linear parent description spacing and tighten parent-status tests
  src/firetower/incidents/hooks.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
Due: pyupgrade, mypy, check-mypy-bypass

Add regression test for unassigning Linear parent when captain cleared
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Make Linear parent status one-way and sync assignee on captain change (#261)
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(linear): track only sub-issues as action items and re-enable parent reopen
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_services.py
  src/firetower/integrations/services/linear.py
  src/firetower/integrations/tests/test_linear_service.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(linear): polish parent-status docs, templates, and tests
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(linear): never override a manually-cancelled parent issue
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_services.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Reject bot users when assigning incident captain
  src/firetower/slack_app/handlers/captain.py
  src/firetower/slack_app/tests/handlers/test_captain.py
Due: pyupgrade, mypy, check-mypy-bypass

Make bot-user message ephemeral and handle Slack lookup failures
  src/firetower/slack_app/handlers/captain.py
  src/firetower/slack_app/tests/handlers/test_captain.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(frontend): Wrap long unbroken text in rendered EditableTextField
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

Reword bot-user message to prompt a retry
  src/firetower/slack_app/handlers/captain.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(frontend): Wrap long unbroken text in rendered EditableTextField (#264)
  frontend/src/components/EditableTextField.test.tsx
  frontend/src/components/EditableTextField.tsx
Due: eslint, prettier, knip

ref(cn): migrate classnames to cnfast, preserve extendTailwindMerge config
  frontend/package.json
  frontend/src/utils/cn.ts
Due: eslint, prettier, knip

chore(frontend): bump Sentry React SDK
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

feat(frontend): enable Sentry span streaming
  frontend/src/main.tsx
Due: eslint, prettier, knip

feat(users): pin active user to top of user lists
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/components/filters/UserFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/queries/currentUserQueryOptions.ts
  src/firetower/auth/serializers.py
  src/firetower/auth/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

fix(users): pin active user in UserFilter regardless of pagination
  frontend/src/routes/components/filters/UserFilter.tsx
Due: eslint, prettier, knip

chore: Bump Sentry SDK for span streaming
  pyproject.toml
  uv.lock
Due: none

feat: Enable Sentry span streaming
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Enable Sentry profiling
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(frontend): enable Sentry browser profiling
  frontend/src/main.tsx
Due: eslint, prettier, knip

Lower profiles_sample_rate to 0.25
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): add "mitigate" as alias for the mitigated command (#255)
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/help.py
Due: pyupgrade, mypy, check-mypy-bypass

chore(slack): Add `resolve` alias
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/help.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Retry channel info after join when initial fetch failed
  src/firetower/slack_app/handlers/backfill_incident.py
  src/firetower/slack_app/tests/handlers/test_backfill_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

Update help.py
  src/firetower/slack_app/handlers/help.py
Due: pyupgrade, mypy, check-mypy-bypass
