Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Fix ruff issue
  src/firetower/auth/apps.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove root cause text field in favor of just tags
  src/firetower/auth/apps.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0003_remove_root_cause_text_field.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Make tags preserve initial case and be case-insensitive unique
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

add sentry to backend
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

add sentry to frontend
  frontend/bun.lock
  frontend/package.json
  frontend/src/main.tsx
Due: eslint, prettier, knip

no PII
  frontend/src/main.tsx
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add sentry to backend, frontend (#18)
  frontend/bun.lock
  frontend/package.json
  frontend/src/main.tsx
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Rename .*_type fields to just type (i.e., tag.tag_type -> tag.type)
  src/firetower/auth/admin.py
  src/firetower/auth/migrations/0002_rename_type_fields.py
  src/firetower/auth/models.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/migrations/0004_rename_type_fields.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Use django default is_superuser instead of custom admin field
  src/firetower/auth/admin.py
  src/firetower/auth/migrations/0003_remove_is_admin_field.py
  src/firetower/auth/models.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

restrict workflow permissions
  .github/workflows/deploy.yml
Due: none

[ci] deploy: add proper auth
  .github/workflows/deploy.yml
Due: none

[ci] move cloudbuild to GitHub Actions
  .github/workflows/deploy.yml
  cloudbuild.yaml
Due: none

try a different reference format?
  .github/workflows/deploy.yml
Due: none

???
  .github/workflows/deploy.yml
Due: none

fix env var
  .github/workflows/deploy.yml
Due: none

DO NOT MERGE run on PR
  .github/workflows/deploy.yml
Due: none

test branch? DO NOT MERGE
  .github/workflows/deploy.yml
Due: none

fix for github token permissions
  .github/workflows/deploy.yml
Due: none

I think these have to be different
  .github/workflows/deploy.yml
Due: none

its clearly ignoring the registry. try this?
  .github/workflows/deploy.yml
Due: none

how was this even working without the checkout action???
  .github/workflows/deploy.yml
Due: none

okay but really deploy i mean it
  .github/workflows/deploy.yml
Due: none

set project expclicitly
  .github/workflows/deploy.yml
Due: none

hardcode region
  .github/workflows/deploy.yml
Due: none

i am going to cry
  .github/workflows/deploy.yml
Due: none

Add serializers to support frontend (ui) views
  src/firetower/auth/serializers.py
  src/firetower/auth/tests/test_serializers.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Convert views to firetower data instead of jira
  src/firetower/incidents/models.py
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/transformers.py
  src/firetower/incidents/views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

allow DJANGO_PG_PASS to be empty string
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Update frontend to work with paginated response (also add little lock for private incs)
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
  src/firetower/incidents/management/__init__.py
  src/firetower/incidents/management/commands/__init__.py
  src/firetower/incidents/management/commands/seed_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Convert to infinite scroll instead of explicit pages
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/queries/incidentsQueryOptions.ts
Due: eslint, prettier, knip

Update participants/captain/reporter handling
  frontend/src/routes/$incidentId/components/ParticipantsList.tsx
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
  frontend/src/routes/components/Header.test.tsx
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Move Jira.PROJECT_KEY to global PROJECT_KEY
  src/firetower/incidents/views.py
  src/firetower/integrations/services/jira.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add required Enums in advance of actual model creation
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Add core models and initial migrations
  src/firetower/auth/__init__.py
  src/firetower/auth/admin.py
  src/firetower/auth/apps.py
  src/firetower/auth/migrations/0001_initial.py
  src/firetower/auth/migrations/__init__.py
  src/firetower/auth/models.py
  src/firetower/auth/signals.py
  src/firetower/auth/tests.py
  src/firetower/auth/views.py
  src/firetower/incidents/migrations/0001_initial.py
  src/firetower/incidents/migrations/0002_set_incident_sequence.py
  src/firetower/incidents/models.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add model tests
  pyproject.toml
  src/firetower/auth/admin.py
  src/firetower/auth/tests.py
  src/firetower/auth/tests/__init__.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/tests.py
  src/firetower/incidents/tests/__init__.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/integrations/test_jira.py
Due: pyupgrade, mypy, check-mypy-bypass

Add django-stubs
  pyproject.toml
  src/firetower/auth/models.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Run formatting and sorting
  src/firetower/auth/admin.py
  src/firetower/auth/apps.py
  src/firetower/auth/models.py
  src/firetower/auth/signals.py
  src/firetower/auth/tests/test_models.py
  src/firetower/auth/views.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/tests/test_models.py
Due: pyupgrade, mypy, check-mypy-bypass

Add postgres service to backend tests
  .github/workflows/ci.yml
Due: none

Run migrations in backend tests
  .github/workflows/ci.yml
Due: none

Revert previous, ensure auth signals are loaded on start
  .github/workflows/ci.yml
  src/firetower/auth/apps.py
Due: pyupgrade, mypy, check-mypy-bypass
