Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Move to tanstack router integration
  frontend/src/main.tsx
Due: eslint, prettier, knip

Sort corsheaders import to satisfy ruff I001
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Add in sentry vite plugin
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: eslint, prettier, knip

Run the formatter
  frontend/vite.config.ts
Due: eslint, prettier, knip

Plumb SENTRY_AUTH_TOKEN into static build for sourcemap upload
  .github/workflows/deploy.yml
  docker/static.Dockerfile
  frontend/pnpm-workspace.yaml
  frontend/vite.config.ts
Due: eslint, prettier, knip

Fix little ci bugs
  docker/static.Dockerfile
Due: none

Tag frontend Sentry events with prod/test environment by hostname
  frontend/src/main.tsx
Due: eslint, prettier, knip

why weren't we already doing this?
  .gitignore
Due: none

unit tests
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(incidents): Add last_nag field to ActionItem for reminder throttling
  src/firetower/incidents/migrations/0021_schedule_action_item_reminder.py
  src/firetower/incidents/migrations/0022_actionitem_last_nag.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

test(incidents): Cover low-priority action items in nag eligibility
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(incidents): Post nag comment to Linear for stale action items
  src/firetower/config.py
  src/firetower/incidents/tasks.py
  src/firetower/integrations/services/linear.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

filter incidents more
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(incidents): Tiered nag thresholds and per-priority comments
  src/firetower/config.py
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Short-circuit nag job when comment is unconfigured
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix gitignore
  .gitignore
Due: none

remove check for false-alarm tag
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(incidents): Add SLO nag for stale action items (#230)
  .gitignore
  src/firetower/config.py
  src/firetower/incidents/migrations/0021_schedule_action_item_reminder.py
  src/firetower/incidents/migrations/0022_actionitem_last_nag.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/integrations/services/linear.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(notion): Support {linear_url} placeholder in template_markdown
  src/firetower/integrations/services/notion.py
  src/firetower/integrations/tests/test_notion.py
  src/firetower/slack_app/handlers/dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(incidents): Include IC mention in statuspage reminders (#221)
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Batch incident update notifications into a single message (#232)
  src/firetower/incidents/hooks.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/slack_app/handlers/captain.py
  src/firetower/slack_app/handlers/mitigated.py
  src/firetower/slack_app/handlers/reopen.py
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/handlers/severity.py
  src/firetower/slack_app/handlers/subject.py
  src/firetower/slack_app/handlers/update_incident.py
  src/firetower/slack_app/tests/handlers/test_captain.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_reopen.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
  src/firetower/slack_app/tests/handlers/test_severity.py
  src/firetower/slack_app/tests/handlers/test_subject.py
  src/firetower/slack_app/tests/handlers/test_update_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slo): UI display of SLO state
  config.example.toml
  frontend/src/routeTree.gen.ts
  frontend/src/routes/$incidentId/components/ActionItemsList.test.tsx
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/queries/actionItemsQueryOptions.ts
  src/firetower/config.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/views.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

feat(notion): Support {linear_url} placeholder in template_markdown (#237)
  src/firetower/integrations/services/notion.py
  src/firetower/integrations/tests/test_notion.py
  src/firetower/slack_app/handlers/dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(notion): Render {linear_url} as Notion embed block
  src/firetower/integrations/services/notion.py
  src/firetower/integrations/tests/test_notion.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Fix undefined _get_slack_user_id and stale test patches
  src/firetower/incidents/hooks.py
  src/firetower/slack_app/tests/handlers/test_cancel.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(incidents): Correct _get_slack_user_id references to get_slack_user_id
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(tests): Update stale hook mocks to use on_incident_updated
  src/firetower/slack_app/tests/handlers/test_cancel.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(incidents): Correct _get_slack_user_id references to get_slack_user_id (#239)
  src/firetower/incidents/hooks.py
  src/firetower/slack_app/tests/handlers/test_cancel.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Split tasks.py into a package
  src/firetower/incidents/tasks/__init__.py
  src/firetower/incidents/tasks/action_items.py
  src/firetower/incidents/tasks/decorators.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Move statuspage reminders into their own module
  src/firetower/incidents/tasks/__init__.py
  src/firetower/incidents/tasks/statuspage.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Split tasks.py into a package (#240)
  src/firetower/incidents/tasks/__init__.py
  src/firetower/incidents/tasks/action_items.py
  src/firetower/incidents/tasks/decorators.py
  src/firetower/incidents/tasks/statuspage.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

make slo days configurable
  src/firetower/config.py
  src/firetower/incidents/tasks/action_items.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

don't display 0 days past due
  src/firetower/config.py
Due: pyupgrade, mypy, check-mypy-bypass

add notion of slo_days vs first notify
  src/firetower/incidents/tasks/action_items.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

use templating for action item SLO nags
  src/firetower/config.py
  src/firetower/incidents/tasks/action_items.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

guard against config slo too low
  src/firetower/incidents/tasks/action_items.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(notion): Skip empty markdown segment when template has only {linear_url}
  src/firetower/integrations/services/notion.py
  src/firetower/integrations/tests/test_notion.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: CANCELED incidents should also close tracking task
  src/firetower/incidents/services.py
Due: pyupgrade, mypy, check-mypy-bypass

Split deploy-db-migration into per-env jobs so the inactive env shows skipped
  .github/workflows/deploy.yml
Due: none

fix: CANCELED incidents should also close tracking task (#241)
  src/firetower/incidents/services.py
Due: pyupgrade, mypy, check-mypy-bypass
