Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Drop action-items and modal-hint text from mitigated chat message and new-incident DM
  src/firetower/slack_app/handlers/mitigated.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
Due: pyupgrade, mypy, check-mypy-bypass

Tighten lifecycle modal: require affected service and region, add incident-page tag hint, refine field labels and placeholders, reorder impact summary above description
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

Reorder impact summary above description in /inc new modal
  src/firetower/slack_app/handlers/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Shorten service registry link text to Service Registry
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
Due: pyupgrade, mypy, check-mypy-bypass

Pluralize Affected Service/Region labels to match multi-select widgets
  src/firetower/slack_app/handlers/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Strip whitespace from description and impact_summary so blank fields fail validation
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
Due: pyupgrade, mypy, check-mypy-bypass

Add TODO referencing RELENG-768 for upcoming inline tag creation
  src/firetower/slack_app/handlers/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove dead tag-field reads from /inc backfill handler
  src/firetower/slack_app/handlers/backfill_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove dead tag-field reads from /inc new handler
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/tests/handlers/test_new_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Reduce required fields in /inc new and capture them at /inc mitigated and /inc resolved (#218)
  config.example.toml
  src/firetower/config.py
  src/firetower/settings.py
  src/firetower/slack_app/handlers/backfill_incident.py
  src/firetower/slack_app/handlers/mitigated.py
  src/firetower/slack_app/handlers/new_incident.py
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_new_incident.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

Reserve scrollbar gutter to prevent layout shift on incident detail page
  frontend/src/styles/index.css
Due: prettier

Polish incident list cards with larger selectable ID, one-line description, and consistent hover
  frontend/src/routes/components/IncidentCard.tsx
Due: eslint, prettier, knip

Apply consistent background hover to action items, status filter, nav, and Slack link
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/components/SlackLink.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/StatusFilter.tsx
Due: eslint, prettier, knip

Remove navigation guard from incident card click
  frontend/src/routes/components/IncidentCard.tsx
Due: eslint, prettier, knip

Stack incident list card with ID above title and a right metadata column
  frontend/src/routes/components/IncidentCard.tsx
Due: eslint, prettier, knip

Adjust incident list view spacing and remove filter divider
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Show title above incident ID in list card
  frontend/src/routes/components/IncidentCard.tsx
Due: eslint, prettier, knip

ref: Incident list and detail UI polish (#224)
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/components/SlackLink.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/IncidentCard.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Make service tier optional in Slack app modals
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Add attribution to channel actions
  src/firetower/slack_app/handlers/captain.py
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/handlers/reopen.py
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/handlers/statuspage.py
  src/firetower/slack_app/handlers/subject.py
  src/firetower/slack_app/tests/handlers/test_captain.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
  src/firetower/slack_app/tests/handlers/test_statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Make service tier optional in Slack app modals (#228)
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove statsd flush band-aid and redundant ddtrace-run from async worker
  docker/entrypoint.sh
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

ref: Remove async worker Datadog fix attempts (#231)
  docker/entrypoint.sh
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Support /inc commands from status channels (#227)
  src/firetower/slack_app/handlers/statuspage.py
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/conftest.py
  src/firetower/slack_app/tests/handlers/test_statuspage.py
  src/firetower/slack_app/tests/handlers/test_utils.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Add on_incident_updated to batch field-change notifications
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(slack): Wire serializer to on_incident_updated for batched notifications
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(slack): Pass acting user from Slack handlers for notification attribution
  src/firetower/slack_app/handlers/captain.py
  src/firetower/slack_app/handlers/mitigated.py
  src/firetower/slack_app/handlers/reopen.py
  src/firetower/slack_app/handlers/resolved.py
  src/firetower/slack_app/handlers/severity.py
  src/firetower/slack_app/handlers/subject.py
  src/firetower/slack_app/handlers/update_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(tests): Update test patches from individual hooks to on_incident_updated
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/slack_app/tests/handlers/test_captain.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_reopen.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
  src/firetower/slack_app/tests/handlers/test_severity.py
  src/firetower/slack_app/tests/handlers/test_subject.py
  src/firetower/slack_app/tests/handlers/test_update_incident.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Guard against unauthenticated actor in incident update notifications
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(slack): Deduplicate _sync_linear_title call and mock slack dump in test
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Update tasks.py
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

Add /inc cancel slack command
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/cancel.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/handlers/test_cancel.py
Due: pyupgrade, mypy, check-mypy-bypass

Show incident number as cancel modal title for consistency
  src/firetower/slack_app/handlers/cancel.py
Due: pyupgrade, mypy, check-mypy-bypass

Guard cancel submission against already-canceled incident and add tests
  src/firetower/slack_app/handlers/cancel.py
  src/firetower/slack_app/tests/handlers/test_cancel.py
Due: pyupgrade, mypy, check-mypy-bypass

Add example reasons to cancel modal placeholder
  src/firetower/slack_app/handlers/cancel.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add /inc cancel slack command (#225)
  src/firetower/slack_app/bolt.py
  src/firetower/slack_app/handlers/cancel.py
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/tests/handlers/test_cancel.py
Due: pyupgrade, mypy, check-mypy-bypass

Make description optional in /inc mitigated and resolved modals
  src/firetower/slack_app/handlers/utils.py
Due: pyupgrade, mypy, check-mypy-bypass

Test description optional in /inc mitigated and resolved modals
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass

Format help command list for Slack's proportional font
  src/firetower/slack_app/handlers/help.py
Due: pyupgrade, mypy, check-mypy-bypass

Make description optional in mitigated/resolved modals (#234)
  src/firetower/slack_app/handlers/help.py
  src/firetower/slack_app/handlers/utils.py
  src/firetower/slack_app/tests/handlers/test_mitigated.py
  src/firetower/slack_app/tests/handlers/test_resolved.py
Due: pyupgrade, mypy, check-mypy-bypass
