Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)


Fix type issue
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Align punctuation
  frontend/src/components/ErrorState.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

chore: Clean up error and empty states (#44)
  frontend/.gitignore
  frontend/src/components/ErrorState.tsx
  frontend/src/components/GetHelpLink.tsx
  frontend/src/components/Pill.test.tsx
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/components/Header.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/types.ts
  frontend/src/utils/arrays.ts
  frontend/vite.config.ts
Due: eslint, prettier, knip

Make Active status filters the default (i.e., use those for empty url)
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Override string representation for User model in django admin
  src/firetower/auth/admin.py
Due: pyupgrade, mypy, check-mypy-bypass

Use formfield_for_foreignkey instead of monkey-patching User
  src/firetower/auth/admin.py
  src/firetower/incidents/admin.py
Due: pyupgrade, mypy, check-mypy-bypass

Add Skeleton div component
  frontend/src/components/Skeleton.tsx
Due: eslint, prettier, knip

Add IncidentListSkeleton for loading state
  frontend/src/components/Skeleton.tsx
  frontend/src/routes/components/IncidentListSkeleton.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

Add IncidentDetailSkeleton loading state
  frontend/src/routes/$incidentId/components/IncidentDetailSkeleton.tsx
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

fix test
  frontend/src/routes/index.test.tsx
Due: eslint, prettier, knip

feat: Show email instead of google IAP id for Users in django admin (#40)
  src/firetower/auth/admin.py
  src/firetower/incidents/admin.py
Due: pyupgrade, mypy, check-mypy-bypass

feat: Add skeleton loading states for list and details views (#46)
  frontend/src/components/Skeleton.tsx
  frontend/src/routes/$incidentId/components/IncidentDetailSkeleton.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/components/IncidentListSkeleton.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: eslint, prettier, knip

ref: Make Active status filters the default for empty url (#45)
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/components/StatusFilter.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add Impact, Affected Areas, and Root Cause on IncidentSummary
  frontend/src/components/Tag.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.tsx
Due: eslint, prettier, knip

Add tests
  frontend/src/components/Tag.test.tsx
  frontend/src/routes/$incidentId/components/IncidentSummary.test.tsx
Due: eslint, prettier, knip

Add basic ruff rules and tweak ci/precommit checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  ruff.toml
  src/firetower/auth/apps.py
  src/firetower/auth/middleware.py
  src/firetower/auth/models.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/integrations/test_jira.py
  src/firetower/integrations/test_slack.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

Remove unnecessary ignores
  ruff.toml
Due: none

Add type annotations for mypy
  mypy.ini
  src/firetower/auth/admin.py
  src/firetower/auth/apps.py
  src/firetower/auth/middleware.py
  src/firetower/auth/models.py
  src/firetower/auth/serializers.py
  src/firetower/auth/signals.py
  src/firetower/auth/validators.py
  src/firetower/auth/views.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/models.py
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/views.py
  src/firetower/integrations/services/jira.py
  src/firetower/integrations/services/slack.py
Due: pyupgrade, mypy, check-mypy-bypass

Enable mypy for pre-commit
  .pre-commit-config.yaml
  mypy.ini
Due: none

Remove assert in IAP middleware in favor of critical log
  src/firetower/auth/middleware.py
Due: pyupgrade, mypy, check-mypy-bypass

Use real types instead of Any all over the place thanks ai
  src/firetower/auth/admin.py
  src/firetower/auth/middleware.py
  src/firetower/auth/serializers.py
  src/firetower/auth/signals.py
  src/firetower/auth/views.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Add comment explaining specific line ruff ignores:
  src/firetower/auth/apps.py
  src/firetower/auth/models.py
  src/firetower/auth/tests/test_models.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix unnecessary local import
  src/firetower/auth/models.py
Due: pyupgrade, mypy, check-mypy-bypass

Add more explicit types
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

Convert TypedDict to dataclass
  src/firetower/incidents/serializers.py
Due: pyupgrade, mypy, check-mypy-bypass

ci: Tweak ruff/mypy config for ci and pre-commit (#48)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  ruff.toml
  src/firetower/auth/admin.py
  src/firetower/auth/apps.py
  src/firetower/auth/middleware.py
  src/firetower/auth/models.py
  src/firetower/auth/serializers.py
  src/firetower/auth/signals.py
  src/firetower/auth/tests/test_models.py
  src/firetower/auth/validators.py
  src/firetower/auth/views.py
  src/firetower/incidents/admin.py
  src/firetower/incidents/models.py
  src/firetower/incidents/permissions.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/tests/test_models.py
  src/firetower/incidents/tests/test_serializers.py
  src/firetower/incidents/tests/test_views.py
  src/firetower/incidents/views.py
  src/firetower/integrations/services/jira.py
  src/firetower/integrations/services/slack.py
  src/firetower/integrations/test_jira.py
  src/firetower/integrations/test_slack.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

create nginx docker container
  docker/backend.Dockerfile
  docker/static.Dockerfile
  nginx.conf
Due: none

nginx permission fixes
  docker/static.Dockerfile
  nginx.conf
Due: none

nginx: more explicit proxy paths
  nginx.conf
Due: none

django: adjust static asset path
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

fix nginx config structure
  nginx.conf
Due: none

add django readiness probe
  pyproject.toml
  src/firetower/settings.py
  uv.lock
Due: pyupgrade, mypy, check-mypy-bypass

simplify nginx config
  nginx.conf
Due: none

[ci] build and deploy nginx
  .github/workflows/deploy.yml
Due: none
