Repository getsentry/firetower: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  args:
  - --py313-plus
  language: system

mypy:
  name: mypy
  entry: bash -c 'if [ -n "${SENTRY_MYPY_PRE_PUSH:-}" ]; then exec mypy "$@"; fi' --
  language: system
  stages:
  - pre-push
  require_serial: true

check-mypy-bypass:
  name: do not bypass the type checker
  entry: '(^# *mypy: *ignore-errors|^# *type: *ignore|\bno_type_check\b|ignore\[import-untyped\])'
  language: pygrep

eslint:
  name: eslint
  language: system
  entry: bash -c 'cd frontend && bun run eslint --quiet --fix'

prettier:
  name: prettier
  language: system
  entry: bash -c 'cd frontend && bun run format'
  pass_filenames: false

knip:
  name: knip
  language: system
  pass_filenames: false
  stages:
  - pre-push
  entry: bash -c 'if [ -n "${SENTRY_KNIP_PRE_PUSH:-}" ]; then exec ./node_modules/.bin/knip; fi' --

feat(incidents): Add recurring statuspage followup reminders
  config.example.toml
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/tests/test_tasks.py
  src/firetower/settings.py
  src/firetower/slack_app/handlers/statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

Add priority field, rename Cancelled to Canceled, and Linear API key fallback
  .pre-commit-config.yaml
  src/firetower/config.py
  src/firetower/incidents/migrations/0019_canceled_and_priority.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_filters.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/views.py
  src/firetower/integrations/services/linear.py
  src/firetower/integrations/tests/test_linear_service.py
  src/firetower/settings.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename Cancelled to Canceled in frontend
  frontend/src/components/Pill.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/types.ts
Due: eslint, prettier, knip

Fix PR review comments: revert superuser bypass, use F() for priority ordering
  src/firetower/incidents/models.py
  src/firetower/incidents/views.py
  src/firetower/slack_app/tests/handlers/test_list_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass

Prevent tests from hitting real Linear API
  src/conftest.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Fix mypy error for priority field in worktree
  src/firetower/incidents/services.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(incidents): Use repeats=-1 so Django-Q deletes spent schedule rows
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Rename PAGEABLE_SEVERITIES to HIGH_SEVERITIES
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Import HIGH_SEVERITIES in tasks instead of duplicating
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

add comment about disabled schedule
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Remove type ignore
  src/firetower/incidents/services.py
Due: pyupgrade, mypy, check-mypy-bypass

Rename SDK IncidentStatus.CANCELLED to CANCELED to match API
  sdk/src/firetower_sdk/enums.py
Due: pyupgrade, mypy, check-mypy-bypass

Surface real error on 401 when Linear api_key is set instead of attempting OAuth refresh
  src/firetower/integrations/services/linear.py
  src/firetower/integrations/tests/test_linear_service.py
Due: pyupgrade, mypy, check-mypy-bypass

ref: Rename Cancelled to Canceled, add priority field and Linear API key fallback (#213)
  .pre-commit-config.yaml
  frontend/src/components/Pill.tsx
  frontend/src/routes/components/Header.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/types.ts
  sdk/src/firetower_sdk/enums.py
  src/conftest.py
  src/firetower/config.py
  src/firetower/incidents/hooks.py
  src/firetower/incidents/migrations/0019_canceled_and_priority.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/incidents/services.py
  src/firetower/incidents/tests/test_action_items.py
  src/firetower/incidents/tests/test_filters.py
  src/firetower/incidents/tests/test_hooks.py
  src/firetower/incidents/views.py
  src/firetower/integrations/services/linear.py
  src/firetower/integrations/tests/test_linear_service.py
  src/firetower/settings.py
  src/firetower/slack_app/tests/handlers/test_list_incidents.py
Due: pyupgrade, mypy, check-mypy-bypass, eslint, prettier, knip

Add action items section to incident detail page
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/actionItemsQueryOptions.ts
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Read action items from incident detail response and add Linear create button
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/actionItemsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
Due: eslint, prettier, knip

Show empty state for action items instead of hiding the card
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
Due: eslint, prettier, knip

Fetch action items from standalone endpoint with Suspense boundary
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/actionItemsQueryOptions.ts
  frontend/src/routes/$incidentId/queries/incidentDetailQueryOptions.ts
Due: eslint, prettier, knip

Add sync button, parent issue linking, and error boundary for action items
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/syncActionItemsMutationOptions.ts
Due: eslint, prettier, knip

Add priority icons, status borders, and sync button to action items
  frontend/src/components/ConfirmationDialog.tsx
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/components/PriorityIcon.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/routes/$incidentId/queries/actionItemsQueryOptions.ts
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Remove background color from action item cards
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
Due: eslint, prettier, knip

Gate sync button on linearUrl, surface sync errors, differentiate priority tooltips, and reset ErrorBoundary on incident change
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/components/PriorityIcon.tsx
  frontend/src/routes/$incidentId/index.tsx
Due: eslint, prettier, knip

Keep action items header visible across body states, flip mobile order, add Todo/In Progress Pill variants, and clean up
  frontend/src/components/Pill.tsx
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
  frontend/src/routes/$incidentId/components/PriorityIcon.tsx
  frontend/src/routes/$incidentId/index.tsx
  frontend/src/styles/index.css
Due: eslint, prettier, knip

Always show action items sync button and reset ErrorBoundary on sync to recover from load errors
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
Due: eslint, prettier, knip

Add tests for ErrorBoundary, PriorityIcon, and ActionItemsList
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/routes/$incidentId/components/ActionItemsList.test.tsx
  frontend/src/routes/$incidentId/components/PriorityIcon.test.tsx
Due: eslint, prettier, knip

Use TanStack Router's CatchBoundary instead of a hand-rolled ErrorBoundary class
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/routes/$incidentId/components/ActionItemsList.tsx
Due: eslint, prettier, knip

ref(incidents): Use @datadog_log decorator for send_statuspage_reminder
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

set example slash command
  config.example.toml
Due: none

fix(incidents): Use explicit None checks for statuspage config values
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(incidents): Update test to use renamed CANCELED enum value
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix extra ,
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(incidents): Use existing HIGH_SEVERITIES for statuspage followup reminders
  src/firetower/incidents/tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Rename PAGEABLE_STATUSES to ACTIVE_STATUSES and fix PAGEABLE_SEVERITIES
  src/firetower/incidents/hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(incidents): Add statuspage post SLO tracking
  src/firetower/incidents/hooks.py
  src/firetower/incidents/migrations/0020_add_statuspage_slo_tracking.py
  src/firetower/incidents/models.py
  src/firetower/incidents/serializers.py
  src/firetower/slack_app/handlers/statuspage.py
  src/firetower/slack_app/tests/handlers/test_statuspage.py
Due: pyupgrade, mypy, check-mypy-bypass

fix: Compute total_downtime when milestones are backfilled
  src/firetower/slack_app/handlers/dumpslack.py
  src/firetower/slack_app/tests/handlers/test_dumpslack.py
Due: pyupgrade, mypy, check-mypy-bypass

switch reminders to -status channels
  src/firetower/incidents/hooks.py
  src/firetower/incidents/migrations/0020_add_slack_status_external_link_type.py
  src/firetower/incidents/models.py
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_tasks.py
Due: pyupgrade, mypy, check-mypy-bypass

fix(incidents): Mock build_channel_url in status channel test
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

feat(incidents): Add statuspage_slo_ended_at and fix migration numbering
  src/firetower/incidents/hooks.py
  src/firetower/incidents/migrations/0021_add_statuspage_slo_tracking.py
  src/firetower/incidents/models.py
Due: pyupgrade, mypy, check-mypy-bypass

ref(incidents): Deduplicate statuspage reminder config and constants
  src/firetower/incidents/hooks.py
  src/firetower/incidents/tasks.py
  src/firetower/incidents/tests/test_hooks.py
Due: pyupgrade, mypy, check-mypy-bypass

Path conditions:
  pyupgrade: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  mypy: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  check-mypy-bypass: any of: \.py$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  eslint: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json|md|yaml|yml)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

  knip: any of: \.(ts|js|tsx|jsx|mjs)$, but not: (?x)(
    LICENSE.md$|
    \.snap$|
    \.map$|
    \.map\.js$|
    ^src/sentry/static/sentry/vendor/|
    ^src/.*/locale/|
    ^src/sentry/data/
)

